<div class="component-richtext" >
    <div class="hero-image">
        <img src="images/om_officedepot.jpg" origWidth="958" origHeight="163">
    </div>
    <br>
    <br>
    <div class="col-lg-9">
        <h3>Office Depot</h3>
        <P>
            <font style="FONT-SIZE: 12px" size=2>Få ett enklare kontorsliv med kontorsmaterial och service som både effektiviserar arbetsplatsen och håller ner
                kostnaderna. Vi på Office Depot servar både företag i Sverige och övriga delar av Europa.</FONT>
        </P>
        <h3>Kontoret är företagets nav</h3>
        <P>
            <FONT style="FONT-SIZE: 12px" size=2>Det är på kontoret som kontrakt skrivs, budget sätts, möten hålls, interna och externa frågor besvaras och de
                flesta beslut fattas. Kontoret är en företagsmotor som behöver smörjas och servas, och vi på Office Depot
                har allt ni behöver. Med Sveriges största onlinehandel för kontorsmaterial behöver ni inte lämna skrivbordet
                utan kan enkelt ta del av bra erbjudanden direkt på webben och sedan få snabb leverans till er arbetsplats.
                Spara tid och håll ned kontorsmaterialets kostnader Ett kontor rymmer en mängd förbrukningsmaterial, vilket
                ofta märks först när de har gått åt. Det kan vara toalettpapper, tvål, pennor, tejp och notisar. Med vårt
                heltäckande utbud på Office Depot är vi en one-stop-shop, vilket betyder att ni enkelt kan vända er till
                oss så fort ni behöver något till kontoret. Vårt utbud passar både det lokala kontoret i Sverige men även
                den internationella koncernen utanför Sveriges gränser. Oavsett arbetsplatsens storlek så hjälper vi er att
                samla alla inköp på ett ställe. På så sätt får ni kontroll över vad som går åt och kan få ner kostnaderna
                för kontorets förbrukningsmateriel. Vi erbjuder alternativ som passar er, genom ett brett sortiment och bra
                erbjudanden där alla våra leverantörer måste leva upp till våra höga krav på kvalitets- och miljöarbete.
                Det gäller såväl produkter som tillverkning och arbetsmiljö. Med oss kan ni utrusta ert kontor och samtidigt
                både spara tid och onödiga kostnader.</FONT>
        </P>
        <h3>En enklare arbetsdag på kontoret</h3>
        <P>
            <FONT style="FONT-SIZE: 12px" size=2>En vanlig kontorsdag kan innehålla en mängd avbrott. När allt inte är i sin ordning, kaffet är slut, whiteboardpennan
                har torkat ut eller kopieringspapper fattas när skrivaren ska fyllas på. Små händelser som tar onödig tid
                av ordinarie arbetsuppgifter. Vi på Office Depot ser därför till att allt är på sin plats när ni behöver
                det. Det kan vara allt från teknik till att ni har fräsch frukt när ni behöver energi och att kaffemaskinen
                fungerar som den ska på arbetsplatsen. Vi kommer ut till er och fyller på kontorsförrådet med de produkter
                ni önskar. Ta del av våra tjänster som underlättar ert administrativa arbete – få påfyllning i materialskåpet-,
                av kaffet, eller städ- och skrivarlösningar som anpassas efter era behov. Ta del av vår guidning och hjälp
                med installation av tekniska lösningar till mötesrum, presentationssalar och konferensrum. Sätt er företagsprofil
                på produkter och ta hjälp med finansiering av kontorets utrustning. Allt som förenklar ert kontorsliv. </FONT>
        </P>
        <h3>Office Depot – i butiken, på webben och på din arbetsplats</h3>
        <P>
            <FONT style="FONT-SIZE: 12px" size=2>Vi är Sveriges största kontorsvaruhus på webben, med varor som snabbt levereras till ditt kontor. Med vår tillgänglighet,
                med butiker över hela landet och internationell närvaro, så har vi kapacitet, vana och en hög servicegrad.
                Vi finns till för både det mindre lokala företaget och den stora globala koncernen. Lägg en order på webben,
                ring oss eller besök någon av våra butiker så svarar vi på frågor och hjälper er att välja ett sortiment
                som passar ert kontorsliv.</FONT>
        </P>
        <BR>
        <BR>
        <H3>Vi ses i butikerna, på webben – och på din arbetsplats!</H3>
    </div>
    <div class="col-lg-3" style="BORDER-TOP: #e1e1e1 1px solid; BORDER-RIGHT: #e1e1e1 1px solid; BACKGROUND: #f9f9f9 0px 0px; BORDER-BOTTOM: #e1e1e1 1px solid; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; BORDER-LEFT: #e1e1e1 1px solid; PADDING-RIGHT: 10px">
        <H3>Office Depot i korthet</H3>
        <P>
            <FONT style="FONT-SIZE: 12px" size=2>Office Depot Svenska AB är ett av Sveriges ledande kontorsvaruföretag med försäljning via butiker, Internet samt
                direktförsäljning.
                <BR>
                <BR>Bolaget har totalt en omsättning på drygt 1 miljard SEK och ca 350 medarbetare.
                <BR>
                <BR>Varumärket Office Depot grundades 1986 i USA och finns i mer än 50 länder. Office Depot Svenska AB är en
                del av Office Depot Europa som sedan 1 januari 2017 ägs av det tyska Investmentbolaget Aurelius.
                <BR>
            </FONT>
        </P>
    </div>
</div>