
			<div class="section-inner" id="articleSpec">
				<div class="headline">
					<h3>Specifikation</h3>
				</div>
				<div class="article-spec-wrapper">
					<table>
						<tbody>
							<tr>
								<td class="article-spec-left">
									<ul id="article-spec" class="productMetadata cf">
										<li class="productMeta cf even">
											<span class="key-meta-name">Art. nr</span><span class="key-meta">1049800</span>
										</li>

										<li class="productMeta cf odd">
											<span class="key-meta-name">Märke </span>
											<span class="key-meta">Office Depot  </span>
										</li>

										<li class="productMeta cf even">
											<span class="key-meta-name">Förklaring av miljöinformation </span>
											<span class="key-meta">EU Ecolabel  </span>
										</li>

										<li class="productMeta cf odd">
											<span class="key-meta-name">Antal i fp </span>
											<span class="key-meta">2500  </span>
										</li>

										<li class="productMeta cf even">
											<span class="key-meta-name">Ark/Kartong </span>
											<span class="key-meta">5x500  </span>
										</li>

										<li class="productMeta cf odd">
											<span class="key-meta-name">Typ </span>
											<span class="key-meta">Ohålat  </span>
										</li>

										<li class="productMeta cf even">
											<span class="key-meta-name">Färg </span>
											<span class="key-meta">Vit  </span>
										</li>

										<li class="productMeta cf odd">
											<span class="key-meta-name">Format </span>
											<span class="key-meta">A4  </span>
										</li>

										<li class="productMeta cf even">
											<span class="key-meta-name">Ytvikt </span>
											<span class="key-meta">80g  </span>
										</li>

										<li class="productMeta cf odd">
											<span class="key-meta-name">För hel kartong ange </span>
											<span class="key-meta">1 kt  </span>
										</li>

										<li class="productMeta cf even">
											<span class="key-meta-name">Nedladdningsbara filer </span>
											<span class="key-meta"><a class="popup-pdf" href="../images/documents/1049800.pdf"><img src="../images/pdficon18x18.png" height="18" width="18" alt="1049800.pdf" title="1049800.pdf"></a>  </span>
										</li>

									</ul>
								</td>
								<td class="article-spec-right">
									<div id="productImageSpec" class="productImageSpec"><img class="productImageSpecImg" src="https://www.officedepot.se../images/webthumbnail/1049800.jpg"></div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="article-spec-back">
					<a>Tillbaka till toppen av sidan</a>
				</div>

			</div>
