<div class="component_richtext" >
    <div class="hero-image">
       <img src="/images/betalningsalternativ.jpg" >
    </div>
	
	<div class="col-lg-9">
		<h3>Betalningsalternativ</h3>
		<p align="justify">Webbkunder genomgår kreditupplysning i samband med kundregistrering och den ligger till grund för den erhållna kreditlimiten. Aktuell kreditlimit framgår alltid under er kontosida som inloggad på webbplatsen. Erhållen kreditlimit ligger till grund för&nbsp;tillgängliga betalsätt.&nbsp;Gällande betalsätt för denna butik är faktura och kortbetalning.</p>
		<p align="justify"><strong>Fakturabetalning</strong></p>
		<p align="justify">Vid fakturering tillämpar Office Depot 15 dagar netto från fakturadatum. Efter förfallodagen debiteras dröjsmålsränta med referensränta plus 8%.</p>
		<p align="justify"><strong>Kontokort</strong></p>
		<p align="justify">Du kan alltid känna dig trygg i att handla med kort utställda av VISA eller MasterCard hos Office Depot. Vi samarbetar med Nets(F.d. Auriga). Nets uppfyller marknadens samt våra egna villkor för säkra internetbetalningar genom att erbjuda beprövade och säkra betallösningar för Internet. Med certifieringar som PCI-DSS (Payment Card Industry Data Security Standard), 3D-secure samt Nets eget framtagna koncept för Anti-Fraud garanterar vi säkra betallösningar.<br>
		När du betalar med kort skickas du vidare till en säker sida med SSL-certifikat hos Nets, där du tryggt fyller i dina kortuppgifter och genomför betalningen. När betalningen har godkänts skickas du tillbaka till Office Depots webbplats där du får en bekräftelse på att ditt köp är genomfört. Vi sparar av säkerhetsskäl aldrig dina kortuppgifter hos Office Depot. Vid köp med kort debiteras ditt konto vid beställningstillfället. Kvitton vid kortbetalning erhålles i samband med leverans. Vid kreditering av order betald med kort betalas pengarna tillbaka till kortet.</p>
		<p align="justify">Vill du veta mer om Nets och deras säkerhet, vänligen <a href="http://www.nets.se/">läs mer här »</a> .</p>
	</div>
	<div class="col-lg-3"> 
	
	<p>
		<img src="/images/visa80x60.jpg" title="Här kan du betala med Visa">
		<img src="/images/verifiedvisa60.jpg" title="Alltid säkra kortbetalningar hos Office Depot">
		<img src="/images/mc80x60.jpg" title="Här kan du betala med Mastercard">
		<img src="/images/mcsecure60.jpg" title="Alltid säkra kortbetalningar hos Office Depot">
		<img src="/images/nets60.jpg" title="Nets">
		<a href="http://www.tryggehandel.se/butik/415" target="_blank">
			<img src="/images/ehl230x60.jpg" title="Denna butik är certifierad med Trygg E-handel!"></a>
	</p>
	
	 </div>
	 
</div>