<div class="component-richtext">
	<div class="hero-image">
		<img class="map-hero" height="200" src="/images/Toppbild_vara_butiker.jpg">
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h1 style="font-size: 24px;">
				Hitta din butik här:
				<select>
					<option disabled selected>Hitta butik</option>			
			<option>Falun</option>
			<option>Göteborg - Högsbo</option>
			<option>Göteborg - Mölndal</option>
			<option>Stockholm - Hammarby Sjöstad</option>
			</select>
			</h1>
		</div>
	</div>
</div>