<div class="row">
    <div class="col-lg-8">
        <div class="butik-info">
            <div class="col-xs-12">
                <h3>Falun</h3>
            </div>
            <div class="butik-info--time">
                <div class="col-lg-4">
                    <b>Öppettider</b>
                    <p>Måndag-Fredag: 08.00-17.00</p>
                    <p>Dag före röd dag: 08.00-15.00</p>
                </div>
                <div class="col-lg-4">
                    <div class="butik-info--time">
                        <b>Adress</b>
                        <p>Myntgatan 4</p>
                        <p>791 51 Falun</p>
                        <p>Telefon: 010-458 50 30</p>
                        <p>Epost: <a>se-butik.falun@officedepot.com</a></p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="butik-info--time">
                        <img src="https://www.officedepot.se/CycubeMediaLibrary/external/mediafiles/Butiker/Zandra%20Z%C3%A4ttlin.jpg" />
                        <p>Zandra Z</p>
                        <p>Butikschef</p>
                    </div>
                </div>
            </div>
        </div>
        <compontent src="/Components/comp/map.html"></compontent>
    </div>
    	<div  class="col-md-4  col-xs-12 nopadding">
		
	<compontent src="/Components/comp/store-list.html"></compontent>
	</div>
</div>