<div id="main">
	<div class="hero-image">
		<img src="/images/kontakta_oss.jpg" origWidth="958" origHeight="163">
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<h2>Kundcenter öppet vardagar 8:00 - 17:00</h2>
		<p>
			<font size="2" style="FONT-SIZE: 12px">Telegrafgatan 4, Box 3132<br> 169 03&nbsp;Solna<br> Tel 020-560 560<br> Fax 08-646 60 56<br> E-post <a href="mailto:se-order@officedepot.com"
				 target="" type="link">se-order@officedepot.com</a></font>
		</p>
		<h2>Huvudkontor, Växel</h2>
		<p>
			<font size="2" style="FONT-SIZE: 12px">Office Depot Svenska AB<br> Telegrafgatan 4, Box 3132<br> 169 03&nbsp;Solna<br> Tel 010-458 50 00<br> Fax 08-646 19 38<br>				E-post <a href="mailto:se-info@officedepot.com" target="" type="link">se-info@officedepot.com</a><br>
				<br> Org.nr 556024-9558<br> Momsregistreringsnummer: SE5560249558</font>
		</p><br>
		<br>
		
	</div>

	<div class="col-lg-6">
		<h2>Kontaktformulär för kundcenter</h2>
		<p>
			<font size="2" style="FONT-SIZE: 12px">Alla frågor rörande köp/beställningar som inkommer via e-post eller via kontaktfomulär besvarar vi inom 48 timmar (vardagar).</font>
		</p>
		<compontent src="/Components/comp/form-contact-us.html"></compontent>
	</div>
</div>