<div id="cookieLawHeader" style="top: 0px;display: none;">
    <div id="cookieNoticeContainer">
        <div class="cookieMainInfo">
            <div class="cookieInfoIcon">
                <img src="../images/icons/cookiebarinfo.png">
            </div>
            <div class="cookieInfoText">
                <h3>
                    Cookies på vår webbplats
                </h3>
                <p>
                    Vi använder Cookies för att skapa bästa möjliga upplevelse för dig som besökare. Genom att fortsätta på vår webbplats godkänner
                    du användandet av <a href="/cookie-information.html">cookies</a>
                </p>
            </div>
        </div>
        <div class="cookieCloseContainer">
            <div class="cookieClose b1">
                <p class="button" onclick="javascript:check();">
                    Stäng
                </p>
            </div>
        </div>
    </div>
</div>
