<div class="row">
	<div class="cart-title padding-xs-5 padding-sm-0 ">
		<div class="clearfix">
			<div class="col-md-6 col-xs-6 text-left no-padding">
				<h3>Din kundvagn</h3>
			</div>
		</div>
	</div>
	<div class="customer-cart clearfix">
		<compontent src="/Components/comp/checkout-items-list-cart-new.html"></compontent>
		<div class="col-md-8 col-sm-6">
			<div class="company-code" >
				<div class="p-n-s">
					<div class="print-inline" onclick="window.print();">
						<span><i class="fa fa-print" aria-hidden="true"></i>Skriv ut</span>
					</div>
					<div class="print-inline">
						<span><i class="fa fa-plus" aria-hidden="true"></i>Lägg till i favoritlista</span>
					</div>
				</div>
				<h5><i class="fa fa-plus-circle" aria-hidden="true"></i><a id="show-company-code--js" href="javascript:void(0)">Jag har en rabattkod</a></h5>
				<div class="form-area" id="company-code--js" style="display:none;">
					<p>Ange eventuell kampanjkod (max en kod/beställning).</p>
					<form action="">
						<div class="form-group">
							<input type="text" class="form-control">
						</div>
						<a class="btn btn-default">Aktivera</a>
					</form>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<div class="checkout-completion">
				<table id="shopping-cart" class="checkout-table table table-responsive">
					<tbody id="shopping-list" class="">
						<tr>
							<td class="name">Summa (2st):</td>
							<td class="sub-total">79,00 kr</td>
						</tr>
						<tr>
							<td class="name">Frakt:</td>
							<td class="sub-total">79,00 kr</td>
						</tr>
						<tr>
							<td class="name">Tilläggstjänster:</td>
							<td class="sub-total">0,00 kr</td>
						</tr>
						<tr>
							<td class="name">Totalt exkl.moms:</td>
							<td class="sub-total">100,00 kr</td>
						</tr>
						<tr>
							<td class="name">Moms:</td>
							<td class="sub-total">10,00 kr</td>
							<tr class="spacer"></tr>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td class="name"><b>Totalt inkl. moms:</b></td>
							<td class="sub-total" id="total"><b>210,00 kr</b></td>
						</tr>
					</tfoot>
				</table>
				<a class="btn btn-buy" style="float: right;" href="#" title="">Till kassan</a>
			</div>
		</div>
	</div>
</div>

<script>
	$('#show-company-code--js').click(function () {
		$('#company-code--js').toggle();
	});

</script>