<div id="row">

	<div class="col-xs-6">
		<h4>Behöver du hjälp?</h4>
		<p>Ring gratis på 020-560 560 eller e-posta till <a href="mailto:se-order@officedepot.com">se-order@officedepot.com</a></p>
		<ul >
			<li> <a href="/betalning.html">Betalning »</a> </li>
			<li><a href="/forsaljningsvillkor.html">Försäljningsvillkor »</a> </li>
		</ul>
	</div>

	<div class="col-xs-6">
		<h4>Handla tryggt med oss</h4>
		<p>Du kan alltid känna dig trygg när du handlar hos Office Depot. Vi är medlem i Trygg E-handel och följer Trygg E-handels krav för en trygg och säker E-handelsplats.</p>
		<div class="image-box">
			<img title="Denna butik är certifierad av Trygg E-handel!" src="/images/trygghandel.jpg"  style="max-width: 200px;">
		</div>
	</div>
</div>