<div class="row">
	<div class="col-lg-9">
		<div class="user-edit">
				<div class="user-detail">
					<h3>Mina uppgifter</h3>
					<p>
						<strong>Kundnummer:</strong> 930000000<br>
						<strong>Företag:</strong> M3 TESTMILJÖ / TESTKUND FÖR M3.<br>
						<strong>Organisationsnummer:</strong> 5567068464
					</p>
				</div>
			
				<compontent src="/Components/comp/editaccount-form.html"></compontent>
				
				
				<p>Som Administratör kan du skapa och hantera flera Användarkonton. Har du kollegor som vill lägga sina egna beställningar i webbshoppen skapar du enkelt en egen Användare för dem här.</p>
				
				
			<div class="users-detail-list">
				<strong>Användare:</strong> martin 
				<br>
				<strong>Användare:</strong> robbantestar2<br>
				<span class="small"><a href="">Ta bort</a> <a href="/ecommerce/control/editAccount?partyId=846905">Ändra</a></span>
			</div>
			<div class="users-detail-list">
				<strong>Användare:</strong> martin 
				<br>
				<strong>Användare:</strong> robbantestar2
				<br>
				<span class="small"><a href="">Ta bort</a> <a href="/ecommerce/control/editAccount?partyId=846905">Ändra</a></span>
			</div>
			<div class="users-detail-list">
				<strong>Användare:</strong> martin 
				<br>
				<strong>Användare:</strong> robbantestar2<br>
				<span class="small"><a href="">Ta bort</a> <a href="/ecommerce/control/editAccount?partyId=846905">Ändra</a></span>
			</div>
				
		</div>
	</div>
	<div class="col-lg-3">
		<div class="user-address">
			<h3>Faktureringsadress</h3>
			<p>
			<strong>M3 TESTMILJÖ / TESTKUND FÖR M3.</strong>
			<br>
			*** TESTAR WEBB 11 ***<br>
			*** TESTAR WEBB 22 ***<br>
			*** TESTAR WEBB 33 ***<br>
			TESTAR 20161020<br>
			111 39
			</p>
		</div>
		
		<div class="full-width">
			<h4> E-post för PDF-faktura</h4>
			<p>
				E-postadress för PDF-faktura har uppdaterats
			</p>
			<button class="btn btn-red" title="">Ändra Adress</button>
		</div>
		
		<div class="user-address-list">
			<h3>Leveransadresser</h3>
			<div class="users-detail-list">
				<p>
					<br>
					<b>Referens:</b> Martin Testkund<br>
					Kuskvägen 2<br>C/O OfficeDepot<br>
					191 62Sollentuna <br>
						<span class="small">
							<strong>Din valda standardadress</strong><br>
						</span>
				</p>
			  </div>
			  <div class="users-detail-list">
				<p>
					<br>
					<b>Referens:</b> Martin Testkund<br>
					Kuskvägen 2<br>C/O OfficeDepot<br>
					191 62Sollentuna <br>
						<span class="small">
							<strong>Din valda standardadress</strong><br>
						</span>
				</p>
			  </div>
					<div class="users-detail-list">
				<p>
					<br>
					<b>Referens:</b> Martin Testkund<br>
					Kuskvägen 2<br>C/O OfficeDepot<br>
					191 62Sollentuna <br>
						<span class="small">
							<strong>Din valda standardadress</strong><br>
						</span>
				</p>
			  </div>
			  <div class="users-detail-list">
				<p>
					<br>
					<b>Referens:</b> Martin Testkund<br>
					Kuskvägen 2<br>C/O OfficeDepot<br>
					191 62Sollentuna <br>
						<span class="small">
							<strong>Din valda standardadress</strong><br>
						</span>
				</p>
			  </div>
			 <div class="users-detail-list">
				<p>
					<br>
					<b>Referens:</b> Martin Testkund<br>
					Kuskvägen 2<br>C/O OfficeDepot<br>
					191 62Sollentuna <br>
						<span class="small">
							<strong>Din valda standardadress</strong><br>
						</span>
				</p>
			  </div>
			 <div class="users-detail-list">
				<p>
					<br>
					<b>Referens:</b> Martin Testkund<br>
					Kuskvägen 2<br>C/O OfficeDepot<br>
					191 62Sollentuna <br>
						<span class="small">
							<strong>Din valda standardadress</strong><br>
						</span>
				</p>
			  </div>
			  
		</div>
		
	</div>
</div>