<!--<form action="" method="post">
	<div class="form-group">
		<label>Användarnamn:</label> <input class="form-control" maxlength="150" name="username" size="50" type="text">
	</div>
	<div class="form-group">
		<label>Kundnummer:</label> <input class="form-control" maxlength="150" name="kundnummer" size="50" type="text">
	</div>
	<button class="btn btn-red" title="">Login</button>
</form> -->
<form action="">
	
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="form-group">
				<label>Förnamn/Referens:</label> <input class="form-control" name="firstname" size="35" type="text" value="Martin">
			</div>
			<div class="form-group">
				<label>Efternamn:</label> <input class="form-control" name="lastnaame" size="35" type="text" value="Testkund">
			</div>
			<div class="form-group">
				<label>Telefonnr:</label> <input class="form-control" name="phone" size="35" type="text" value="08-7654321">
			</div>
			<div class="form-group">
				<label>Mobilnr:</label> <input class="form-control" name="cellphone" size="35" type="text" value="123456789">
			</div>
			<div class="form-group">
				<label>Fax:</label> <input class="form-control" name="fax" size="35" type="text" value="6543211">
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="form-group">
				<label>E-postadress:</label> <input class="form-control" maxlength="255" name="email" size="35" type="text" value="test@systemutvecklare.se">
			</div>
			<div class="form-group">
				<label>Användarnamn:</label> <input class="form-control" name="user" size="35" type="text" value="martin">
			</div>
			<div class="form-group">
				<label>Nytt Lösenord:</label> <input class="form-control" name="password" size="35" type="password">
			</div>
			<div class="form-group">
				<label>Bekräfta nytt lösenord:</label> <input class="form-control" name="confirm-password" size="35" type="password">
			</div>

		</div>
		<div class="col-xs-12 col-sm-12">
			<div class="form-check">
				<label>Jag vill ha orderbekräftelse till ovan angiven e-postadress. <input checked class="form-check-input" type="checkbox" value="true"></label>
			</div>
			<div class="form-group">
				<input name="MOMS" type="radio" value="EXKLMOMS">Priser exkl. moms<br>
				<input name="MOMS" type="radio" value="INKLMOMS">Priser inkl. moms
			</div>
			<div class="form-group">
				<input name="ALLOWSOLLICITATIONS" type="hidden" value="false"><input name="MILJOPROD" type="checkbox">Visa endast miljömärkta artiklar<br>
				 Visa produktlistor som:<br>
				<input name="view" type="radio" value="LIST">&nbsp;List&nbsp;<input checked name="VIEWTYPE" type="radio" value="GRID">Grid<br>
			</div>
			<hr>
			<div class="form-group">
				<br>
				Vänligen ange lösenord för att uppdatera kontoinformationen
				<br>
				<label>Befintligt Lösenord:</label>
				<input class="form-control name="CURRPASSWORD" size="35" type="password">
			</div>
		</div>
	</div>
	<button class="btn btn-red" title="">SPARA UPPGIFTER</button>
</form>
	
	
	