
<div class="footerLinks col-lg-3 col-sm-6 col-xs-6">
		<h2>Kundcenter</h2>
		<ul class="linklist">
			<li>
				<a href="/contact-us.html" rel="nofollow">Kontakta oss</a>
			</li>
			<li>
				<a href="/varakataloger.html" rel="nofollow">Våra kataloger</a>
			</li>
			<li>
				<a href="/forsaljningsvillkor.html">Försäljningsvillkor</a>
			</li>
			<li>
				<a href="" rel="nofollow">Betalningsalternativ</a>
			</li>
			<li>
				<a href="/specialorder.html">Specialbeställning</a>
			</li>
			<li>
				<a href="/sakerhet-sekretess.html">Säkerhet &amp; Sekretess</a>
			</li>
			<li>
				<a href="/cookie-information.html">Information om cookies</a>
			</li>
			<li>
				<a href="" target="" type="link">Beställ skrivarservice&nbsp;</a>
			</li>
		</ul>
</div>
<div class="footerLinks col-lg-3 col-sm-6 col-xs-6">
		<h2>Office Depot</h2>
		<ul class="linklist">
			<li>
				<a href="/about.html" rel="nofollow">Om oss</a>
			</li>
			<li>
				<a href="/butiks.html" rel="nofollow">Våra butiker</a>
			</li>
			<li>
				<a href="/varumarken.html">Våra varumärken</a>
			</li>
			<li>
				<a href="/press.html" rel="nofollow">Pressmeddelanden</a>
			</li>
			<li>
				<a href="/lediga-tjänster.html" rel="nofollow">Lediga tjänster</a>
			</li>
			<li>
				<a href="/kvalitet-miljo.html" rel="nofollow">Miljö och Kvalitet</a><br>
			</li>
			<li>
				<a href="Kontorsliv.se" target="_blank" type="link">Kontorsliv.se<br>
				Inspiration &amp; Tips</a>
			</li>
		</ul>
</div>
<div class="footerLinks col-lg-3 col-sm-6 col-xs-6">
		<h2>Tjänster&nbsp;&amp; produkter</h2>
		<ul class="linklist">
			<li>
				<a href="/fruktkorgar.html" type="link">Frukt på jobbet</a> <a href="profil" target="" type="link"></a>
			</li>
			<li>
				<a href="/varatjanster-profil.html" rel="nofollow" target="" type="link">Profilprodukter</a>
			</li>
			<li>
				<a href="" rel="nofollow" target="" type="link">Papper</a>
			</li>
			<li>
				<a href="" rel="nofollow" target="" type="link">Bläck &amp; toner</a>
			</li>
			<li>
				<a href="" rel="nofollow" target="" type="link">Städmaterial</a>
			</li>
			<li>
				<a href="" rel="nofollow" target="" type="link">Teknik</a>
			</li>
			<li>
				<a href="" target="" type="link">Ergonomi</a>
			</li>
			<li>
				<a href="" target="" type="link">Köpguide Dokumentförstörare</a>
			</li>
		</ul>

</div>
<div class="footerLinks col-lg-3 col-sm-6 col-xs-6">
		<h2>Erbjudanden</h2>
		<ul class="linklist">
			<li>
				<a href="newproduct" rel="nofollow" type="link">Produktnyheter</a>
			</li>
			<li>
				<a href="" rel="nofollow">Aktuella kampanjer</a>
			</li>
			<li>
				<a href="" rel="nofollow">Fyndhörna</a>
			</li>
		</ul>
	<div class="customerService">
		<div class="component_richtext" id="richtext.100517">
			<p>&nbsp; <a href="https://www.facebook.comtsverige" target="_blank" type="link"><img id="inline_image7" src="/Images/media/Footerfacebook.jpg" style="FLOAT: left"></a> <a href="https://www.facebook.comtsverige" target="_blank" type="link"></a></p>
		</div>
	</div>
</div>
