<div class="footer full-width gray">
	<div class="container transparent">
		<div class="row">

			<div class="col-lg-3 col-sm-12 textContainer">
				<div id="main" class="cycube-container">
					<div class="component-richtext">


						<p>
							<a href="/ecommerce/control/fullcontent?contentPath=/pim/information/sakerhet-sekretess" type="link" rel="nofollow" internal="">
								<img id="inline_image5" src="/images/media/tryggehandel-grey-wide.png" origwidth="230" origheight="79"></a>
						</p>
						<p style="FONT-SIZE: 9px">Office Depot är en av världens största leverantörer av kontorsmaterial och finns i 53 länder. Med vårt unika helhetserbjudande
							av kontorsvaror och tjänster är vi kontorets One Stop Shop vilket ger våra kunder ett enklare kontorsliv. Vi erbjuder
							alla tänkbara förbrukningsvaror till kontoret, samt även kontorsmöbler, profilprodukter, utskriftslösningar, kaffemaskiner
							och mycket mer. Säkra beställningar på webben med snabba leveranser. Genom våra 47 butiker har vi även rikstäckande
							personlig service.</p>

					</div>
				</div>
			</div>
			<div class="col-lg-1">
			</div>

			<div class="col-lg-8 col-sm-12 footer-links">
				<div id="footerLinksContainer" class="clearfix">
					<compontent src="/Components/comp/footer-bar.html"></compontent>
				</div>

			</div>

		</div>
	</div>

	<div class="copyright">
		<span> Office Depot </span>
	</div>
</div>