<div  class="component-richtext">
    <div class="hero-image">
        <img src="images/fruktkorgar_top.jpg" origWidth="958" origHeight="163">
    </div>

    <div class="row">
        <div class="col-lg-8">
            <h1>Vardagens välmående kommer i en korg!</h1>
            <p>Förutsättningarna för bra och kreativa möten är att hålla inspirationen och energin på topp. Fruktkorgar skapar
                trivsel och ger den extra energin som ofta behövs. När du abonnerar på fruktkorg får du frukt av högsta kvalitet,
                uppburet till kontoret. Vi tittar på varenda frukt innan vi lägger dem i korgen för att bara de allra finaste
                exemplaren ska hamna på din arbetsplats. Om ni anser att frukten har kvalitetsbrister så byter vi ut den
                utan kostnad. Leveranser av fruktkorgarna sker med tydligt mål att minimera miljöpåverkan. Alla leveranser
                klimatkompenseras och uppfyller kraven i ISO 14001.</p>

            <div>Vårt sortiment är brett och här finns också ekologiska alternativ. Vi levererar färsk frukt i en korg, den tomma
                korgen tar vi med tillbaka nästa gång vi kommer. Vilken eller vilka dagar ni får frukt bestämmer ni själva.
                Normalt sker leverans en till två gånger i veckan beroende på hur mycket frukt ni beställer.</div>
            <div>Beställ nedan eller kontakta kundcenter på <a href="mailto:se-order@officedepot.com">se-order@officedepot.com</a>                eller 020-560 560.</div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="image-container">
                    <div class="margin-top-10 col-lg-12 col-md-6">
                        <a href="https://www.officedepot.se/ecommerce/sortiment/pentry--fika-c2443/frukt-c6261/" type="link" target="" internal="">
                            <img id="inline_image7" src="images/Banner_fruktkorgar.jpg" origwidth="364" origheight="93">
                        </a>
                    </div>
                    <div class="margin-top-10 col-lg-12 col-md-6">
                        <a href="https://www.officedepot.se/ecommerce/control/fullcontent?contentPath=%2Fpim%2Fvaratjanster/fruktkorgar/formular"
                            type="link" target="" internal="">
                            <img id="inline_image9" src="images/Banner_fruktkorgar2.jpg" origwidth="364" origheight="93">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>