





<div class="content-section">
	<form class="center-block" role="search">
		<div class="box-padding-10">
			<div class="input-group full-width">
				<div class="col-md-10 col-xs-10 nopadding">
					<input id="searchIncField" class="search-input form-control" placeholder="Sök på din skrivarmodell, originalnummer eller artikelnummer">
				</div>
				<div class="col-md-2 col-xs-2 nopadding">
					<button class="btn-search btn btn-primary search-btn-inc" onclick="" type="submit"><i class="fa fa-search"></i></button>
				</div>
			</div>
		</div>
	</form>
	<compontent src="/Components/comp/kop-black-och-toner-search-result.html"></compontent>
</div>




