<div class="box-margin-10">
	<div class="chooseBrand-area ui-corner-all row">
		<div class="choose-brand-box    col-lg-5 col-xs-12">
			<div class="padding-md-10">
				<h3>eller välj skrivarmärke</h3>
				<div class="list-widget-box">
					<ul class="brand-list">
						<li>Brother</li>
						<li>Canon</li>
						<li>Epson</li>
						<li>Hewlett Packard</li>
						<li>Konica Minolta</li>
						<li>Kyocera</li>
						<li>OKI</li>
						<li>Ricoh</li>
						<li>Samsung</li>
						<li>Sharp</li>
						<li>Toshiba</li>
						<li>Xerox</li>
					</ul>
					<ul class="brand-list-second">
						<li style="list-style: none; display: inline">
							<h4>Övriga skrivarmärken</h4>
						</li>
						<li>ADD-Master</li>
						<li>Admate</li>
						<li>ADS</li>
						<li>Alcatel</li>
						<li>Allen</li>
						<li>AMT</li>
						<li>Anker Data System</li>
						<li>Anzac Computer Equipment</li>
						<li>Apollo</li>
						<li>Apple</li>
						<li>AT&amp;T</li>
						<li>Basic Four</li>
						<li>B+E</li>
						<li>Binder</li>
						<li>BMC</li>
						<li>Bosch</li>
						<li>Brandt</li>
						<li>British Telecom</li>
						<li>Brother</li>
						<li>BT</li>
						<li>Burroughs</li>
						<li>Busicom</li>
						<li>Butec</li>
						<li>Canon</li>
						<li>Casio</li>
						<li>Citizen</li>
						<li>C.Itoh</li>
						<li>Commodore (CBM)</li>
						<li>Compaq</li>
						<li>Compuprint</li>
						<li>Copystar</li>
						<li>CPT</li>
						<li>Danka</li>
						<li>Daro</li>
						<li>Data General</li>
						<li>Datamega</li>
						<li>DEC</li>
						<li>Decision Data (DCT)</li>
						<li>Dell</li>
						<li>Delta Data</li>
						<li>DE TE WE</li>
						<li>Develop</li>
						<li>Diablo</li>
						<li>Diconix</li>
						<li>Digital Equipment</li>
						<li>Dymo</li>
						<li>EBM</li>
						<li>Elite</li>
						<li>Epson</li>
						<li>Ericsson</li>
						<li>Erika</li>
						<li>Extel</li>
						<li>Facit</li>
						<li>Fujitsu</li>
						<li>Fujitsu General</li>
						<li>GBT</li>
						<li>GCC Technology</li>
						<li>General</li>
						<li>General Teknika</li>
						<li>Genicom</li>
						<li>Gestetner</li>
						<li>Harris</li>
						<li>Hermes</li>
						<li>Hewlett Packard</li>
						<li>Hitachi</li>
						<li>Honeywell Bull</li>
						<li>HP</li>
						<li>Ibico</li>
						<li>IBM</li>
						<li>ICL</li>
						<li>Imagen</li>
						<li>Imperial</li>
						<li>Infotec</li>
						<li>ITT</li>
						<li>Juki</li>
						<li>Kardex</li>
						<li>Kienzle</li>
						<li>Kingtron</li>
						<li>Kodak</li>
						<li>Konica</li>
						<li>Konica Minolta</li>
						<li>KPN/PTT</li>
						<li>Kyocera</li>
						<li>Lanier</li>
						<li>Lasermaster</li>
						<li>Lexi Computer System</li>
						<li>Lexmark</li>
						<li>LM</li>
						<li>Logitec</li>
						<li>MAI</li>
						<li>Mannesmann Tally</li>
						<li>MBO</li>
						<li>Memorex</li>
						<li>Micros</li>
						<li>Milda</li>
						<li>Minolta</li>
						<li>Mita</li>
						<li>Monroe</li>
						<li>Nakajima</li>
						<li>Nasco</li>
						<li>Nashuatec</li>
						<li>NCR</li>
						<li>NEC</li>
						<li>Newgen System</li>
						<li>Nixdorf</li>
						<li>Nokia Data</li>
						<li>NRG</li>
						<li>OCE</li>
						<li>OKI</li>
						<li>Olivetti</li>
						<li>Olympia</li>
						<li>Omron</li>
						<li>Optima</li>
						<li>Panasonic</li>
						<li>Peacock</li>
						<li>Philips</li>
						<li>Pitney Bowes</li>
						<li>Pixa</li>
						<li>Praesident</li>
						<li>Printer Systems</li>
						<li>Privileg</li>
						<li>PSI</li>
						<li>QMS</li>
						<li>Quen Data</li>
						<li>Radio Shack</li>
						<li>R.C. Allen</li>
						<li>Remington (Sperry Rand)</li>
						<li>Remstar</li>
						<li>Remtor</li>
						<li>REX Rotary</li>
						<li>Ricoh</li>
						<li>Ricomac</li>
						<li>Robotron</li>
						<li>Rockwell</li>
						<li>Roland</li>
						<li>Royal</li>
						<li>Royal (Imperial)</li>
						<li>Sagem</li>
						<li>Samsung</li>
						<li>Sanyo</li>
						<li>Savin</li>
						<li>Sears</li>
						<li>Seiko</li>
						<li>Seiko Precision</li>
						<li>Seikosha</li>
						<li>SEL</li>
						<li>Selex</li>
						<li>Sharp</li>
						<li>Siemens</li>
						<li>Siemens/Nixdorf</li>
						<li>Sigma</li>
						<li>Silver Reed</li>
						<li>Smith-Corona (SCM)</li>
						<li>SNI</li>
						<li>Star</li>
						<li>Star Micronics</li>
						<li>Sumitronics</li>
						<li>Sweda</li>
						<li>Swintec</li>
						<li>TA</li>
						<li>Tally</li>
						<li>Tally/Genicom</li>
						<li>Tandem Computers</li>
						<li>Taylorix</li>
						<li>TCA</li>
						<li>T-COM</li>
						<li>Teal</li>
						<li>TEC</li>
						<li>Teknika</li>
						<li>Tektronix</li>
						<li>Telekom</li>
						<li>Tellerscan</li>
						<li>Texas Instruments</li>
						<li>TI</li>
						<li>Torpedo</li>
						<li>Toshiba</li>
						<li>Towa</li>
						<li>Triumph-Adler</li>
						<li>Tronica</li>
						<li>Underwood</li>
						<li>Unicom</li>
						<li>Unisys</li>
						<li>Univac (Sperry Rand)</li>
						<li>Utax</li>
						<li>Victor</li>
						<li>Walther</li>
						<li>Wang</li>
						<li>Wincor</li>
						<li>Wincor Nixdorf</li>
						<li>Xerox</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-xs-12 nopadding ">
			<div class="chooseBrand-arrow">
				<i class="fa fa-arrow-right" aria-hidden="true"></i>
			</div>
		</div>
		<div class="choose-model-box   col-lg-5 col-xs-12">
			<div class="padding-md-10">
				<h3>och din skrivarmodell</h3>
				<div class="list-widget-box">
					<ul id="choose-model-list"></ul>
				</div>
			</div>
		</div>
	</div>
</div>