<div class="component-richtext" >
    <div class="hero-image">
        <img src="images/miljoochkvalitet.jpg" origWidth="958" origHeight="163">
    </div>
    <br>
    <br>
    <div class="col-lg-3 col-lg-push-9 col-md-4 col-md-push-8 col-sm-5 col-sm-push-7">
        <h3><br><br>Handbok för ett grönare kontor</h3>
        <p>
            <a href="https://www.officedepot.se/CycubeMediaLibrary/external/mediafiles/Dokument/Miljöhandbok2016.pdf" type="link" target="_top"
                internal=""><img id="inline_image6" src="images/Miljohandbok2016.jpg" origwidth="103"
                    origheight="144"><br>Ladda hem&nbsp;Office Depots handbok för ett grönare kontor&nbsp;»</a> <br></p><br><br>
        <img src="images/9001-14001-blue_small.gif" origwidth="100" origheight="100">&nbsp;<br><br>
        <a
            href="/CycubeMediaLibrary/external/mediafiles/Dokument/Certifikat%209001svbinder.pdf" type="object" target="_blank"
            internal="">Ladda hem certifikat för ISO 9001 »</a><br><a href="/CycubeMediaLibrary/external/mediafiles/Dokument/Certifikat%2014001svbinder.pdf"
                type="object" target="_blank">Ladda hem certifikat för ISO 14001 »</a><br><a href="/CycubeMediaLibrary/external/mediafiles/Dokument/Certifikat/Anslutningsbevis%20FTI%202017%20svenska.pdf"
                type="object" target="_blank">Ladda hem Anslutningsbevis FTI 2017 svenska »</a><br><a href="/CycubeMediaLibrary/external/mediafiles/Dokument/Certifikat/Anslutningsbevis%20FTI%202017%20engelska.pdf"
                type="object" target="_blank">Ladda hem Anslutningsbevis FTI 2017 engekska »</a><br><a href="https://www.officedepot.se/CycubeMediaLibrary/external/mediafiles/Dokument/Certifikat/Certifikat%20El-Kretsen%20Elektronik%202017.pdf"
                type="object" target="_blank">Ladda hem Certifikat El-Kretsen Elektronik 2017 »</a><br><a href="https://www.officedepot.se/CycubeMediaLibrary/external/mediafiles/Dokument/Certifikat/Certifikat%20El-Kretsen%20Batterier%202017.pdf"
                type="object" target="_blank">Ladda hem Certifikat El-Kretsen Batterier 2017 »</a><br><br><br><a href="/pim/data/internal/data/80/09/1390300013800/Verksamhetspolicy.pdf"
                type="object" target="_blank">Ladda hem vår Verksamhetspolicy » </a><br>
    </div>
    <div class="col-lg-9 col-lg-pull-3 col-md-8 col-md-pull-4 col-sm-7 col-sm-pull-5">
        <h2><br>Ett grönare kontor - Lite enklare</h2>
        <p>
            <font style="FONT-SIZE: 12px" size="3">Hos oss är det lätt att hitta miljö- och rättvisemärkta produkter. Vår egen miljösymbol ger dig bra vägledning.
                Vi kan idag erbjuda ett brett sortiment av miljömärkta produkter och antalet växer kontinuerligt. Vi utvärderar
                ständigt vårt sortiment utifrån ett miljöperspektiv och söker efter bättre alternativ. Alla våra leverantörer
                måste kunna leva upp till våra höga krav på kvalitets- och miljöarbete, såväl för sina produkter, som sin
                tillverkning och sina arbetsmiljöer. <br>Office Depot är både miljö- och kvalitetscertifierat.<br><br><strong>Why green – Tillsammans kan vi påverka miljön</strong><br>Att
                släcka lampan när den inte behövs eller att stänga av skärmen när ni går hem på kvällen kan verka simpelt,
                men skillnaden blir stor om många gör som ni. Därför engagerar vi oss i miljön, för att er arbetsplats inte
                endast ska bidra till ett bra arbetsklimat utan också till ett bättre klimat utanför kontorslokalen. Tillsammans
                hjälps vi åt att skapa en mer hållbar värld för våra medarbetare, barn och kommande generationer. </font>
        </p>
        <p>
            <font style="FONT-SIZE: 12px" size="3"><strong>Buy green – Miljöanpassade produktalternativ och krav på leverantörer</strong><br>Miljön är viktig för
                oss, både arbetsmiljön och hur den påverkar miljön utanför. Därför hittar ni alltid miljöanpassade produktalternativ
                genom våra miljö- och rättvisemärkningar. Alla våra leverantörer måste kunna leva upp till våra höga krav
                på kvalitets- och miljöarbete, såväl för sina produkter, som sin tillverkning och sina arbetsmiljöer. Dessutom
                utvärderar vi ständigt vårt sortiment utifrån ett miljöperspektiv för att ni ska kunna få ett grönt kontor
                och en mer vänlig miljöpåverkan. </font>
        </p>
        <p>
            <font style="FONT-SIZE: 12px" size="3"><strong>Be green – Ett hållbart klimat genom ett miljövänligt arbetsklimat</strong> <br>Vår vardag på Office
                Depot genomsyras av vår globala miljöstrategi. Vi tar vårt ansvar fullt ut för såväl vårt dagliga arbete
                som för vårt produktsortiment. Office Depot är både miljö- och kvalitetscertifierat och vår miljöstrategi
                får bland annat utrymme genom att:<br>● Vi integrerar miljöfrågorna i vårt utbud av produkter och tjänster.<br>●
                Vi hushåller med resurser och arbetar för att minska miljöbelastningen som uppstår i företagets verksamhet,
                både inom vår leveranskedja och inom livscykeln för de produkter vi säljer. <br>● Vi kommunicerar vårt miljöarbete
                till våra medarbetare, kunder och övriga intressenter.</font>
        </p>
        <p>
            <font style="FONT-SIZE: 12px" size="3"><strong>Sell green – Få vägledning i att skapa ett miljövänligt kontor</strong><br>Vi jobbar ständigt för att
                det, inom några år, endast ska erbjudas gröna produkter i vårt sortiment, för att göra det ännu enklare för
                er att skapa ett miljövänligt kontorsliv. Med vår vilja och era val kommer vi snart att nå dit tillsammans.
                Vi har några produkter och erbjudanden som tar oss en bit på vägen: <br>● Lövet – En symbol som signalerar
                att produkten ur miljöhänseende kan vara att föredra framför en annan. Vår bedömning baseras på enklare kriterier
                och tillverkarens egna uppgifter. För att vägleda er har vi dessutom valt att gruppera miljöalternativen.
                Grupperna signalerar vilken miljömärkning en produkt har eller på vilka grunder vi valt att ge produkten
                “GreenerOffice”, vår egen&nbsp;miljösymbol.&nbsp;<br>● Kostnadsfritt återvinningssystem – För toner och bläckpatroner
                har vi ett retursystem med returkartonger som kostnadsfritt skickas till er för att ni enkelt ska kunna återvinna.
                Genom ett sådant system avlastar vi er med källsortering för batterier, färgband, toner och bläckpatroner
                och annat miljöförstörande avfall.</font>
        </p>
        <p>
            <font style="FONT-SIZE: 12px" size="3"><strong>Tell green – Ett miljötänk skapar positiva ringar på vattnet</strong><br>Det handlar så klart inte bara
                om att handla miljövänliga produkter – det handlar till lika stor del om att hushålla med de produkter ni
                har och förvalta dem väl. Det kan vara klurigt att veta hur, speciellt när tiden behöver investeras i andra
                delar av verksamheten och engagemanget måste riktas mot andra fokusområden. Därför hjälper vi gärna till.
                Det första vi kan göra är att bidra med vår kunskap, så kontakta oss om ni har några frågor.</font>
        </p>
        <p><br><a href="https://www.officedepot.se/ecommerce/control/fullcontent?contentPath=/pim/officedepot/kvalitet-miljo/miljomarkningar"
                type="link" target="" internal=""><strong>Förklaring av miljömärkningar &gt;<br></strong><br></a></p>
        <p><b><font style="FONT-SIZE: 12px" size="2">För mer information om vårt miljöarbete kontakta:</font></b></p>
        <p>
            <font style="FONT-SIZE: 12px" size="2">Håkan Söderberg<br>Kvalitets- och miljöchef<br>Tel. 070 - 300 12 82<br>Epost: <a href="mailto:hakan.soderberg@officedepot.com">hakan.soderberg@officedepot.com</a></font>
        </p>
    </div>
</div>

<style>
    a {
        color: #c00;
    }
</style>