<div class="component-richtext" >
    <div class="hero-image">
        <img src="images/lediga_tjanster.jpg" origWidth="958" origHeight="163">
    </div>
    <br>
    <br>
    <div class="col-lg-3 col-lg-push-9 col-md-4 col-md-push-8 col-sm-5 col-sm-push-7">
        <div class="hidden-xs" style="margin-bottom: 10px;">
            <img id="inline_image5" src="images/topp100.jpg" origheight="223" origwidth="254">
        </div>
        <div class="press-contact">
            <h3>Är du intresserad av<br>att jobba hos oss?</h3>
            <p>
                <font style="FONT-SIZE: 12px" size="2"><b>Kontakta Anette Hansen, HR</b> <br>anette.hansen@officedepot.com</font>
            </p>
        </div>
    </div>
    <div class="col-lg-9 col-lg-pull-3 col-md-8 col-md-pull-4 col-sm-7 col-sm-pull-5">
        <br>
        <p>Vill du arbeta hos oss på Office Depot?<br>Vi har placerat oss på<a href="http://www.karriarforetagen.se/page/kf2016">&nbsp;Karriärföretagens</a>            över topp 100 mest spännande arbetsgivare i Sverige. Här nedan kan du läsa mer om de jobb vi har utannonserade
            just nu.&nbsp; Välkommen med din ansökan!</p><br>
        <h3>Lediga tjänster</h3>
        <p><a href="https://www.officedepot.se/CycubeMediaLibrary/external/mediafiles/Nya_tjanster/2017-02-23-Region-Account-Manager.pdf">Regional Account Manager till Stockholm</a><br>Nu
            vill vi stärka vår position ytterligare i Stockholm. Vi söker nu en driven Region Account Manager för vårt team
            med fokus på att bearbeta våra befintliga kunder.<br>Du kommer att representerar alla våra produktområden och
            utveckla försäljningen avseende våra produkter, tjänster och service.</p>
        <p><a href="https://www.officedepot.se/CycubeMediaLibrary/external/mediafiles/Nya_tjanster/2017-02-23-Butikssäljare-Stockholm.pdf">Butikssäljare till Stockholm</a><br>Vi
            söker nu drivna säljare till våra butiker med fokus på att bearbeta våra befintliga och nya kunder som besöker
            våra butiker.
            <br>Som butikssäljare kommer du att vara en del i den dagliga driften i våra butiker och i ett nära samarbete
            med butikschefen arbeta mot uppsatta mål. Ett stort intresse för affärer och att skapa en god långsiktig relation
            med våra kunder är en förutsättning.</p>
        <p><a href="https://www.officedepot.se/CycubeMediaLibrary/external/mediafiles/Nya_tjanster/2017-02-16-Handläggare-Saljsupport.pdf">Handläggare till Säljsupport på Office Depot AB</a><br>Vill
            du jobba med spännande arbetsuppgifter i ett av världens ledande kontorsservice företag med möjligheter att växa
            och utvecklas i både Sverige och internationellt?<br>Vi söker nu en handläggare till vår Sales Operations avdelning.
            Du kommer att tillsammans med Säljsupport ansvara för upplägg av prislistor och rabattnycklar samt ta emot och
            registrera nya avtal bland annat. Arbetet sker i stor del i M3, Qlikview, SuperOffice och Winserv. </p>
        <p><a href="https://www.officedepot.se/CycubeMediaLibrary/external/mediafiles/Nya_tjanster/2016-12-22_Butikschef_Borrgatan_Malmö.pdf">Butikschef i Malmö</a><br>Vill
            du arbeta i ett bolag med ambitiösa tillväxtmål och där du ansvarar för en viktig del av vår verksamhet? Jobba
            med spännande arbetsuppgifter i ett av världens ledande kontorsservice företag?<br>I rollen som butikschef på
            Borrgatan i Malmö kommer du att ansvara för en butik när det gäller allt från budget, inköp, planering och utformning
            av kampanjer samt personalansvar. Du kommer att få utforma och genomföra kundevenemang i butiken och att coacha
            dina medarbetare till bra kundbemötande och ökande omsättning.</p>
        <p><a href="https://www.officedepot.se/CycubeMediaLibrary/external/mediafiles/Nya_tjanster/2016-12-05_Regionchef_Stockholm.pdf">Försäljningschef till Region Stockholm, Retail</a><br>Vi
            söker en driven Försäljningschef till Region Stockholm, som vill leda och utveckla butikerna i Storstockholm,
            Uppland och norra Sverige. Du kommer att arbeta i ett bolag med ambitiösa tillväxtmål och där du ansvarar för
            utvecklingen av försäljningen i vår största och viktigaste region.</p>
    </div>
</div>

<style>
    a {
        color: #c00;
    }
</style>