<div class="select-address">
	<ul>
		<li class="select-address-each selected">
		<strong>
		address 1
		</strong>
			<b>
			  TORGGATAN 2            
			</b>
			<b>
			  123456 st            
			</b>
			<b>
			   dank            
			</b>
		</li>
		<li  class="select-address-each">
		<strong>
		address 1
		</strong>
			<b>
			  TORGGATAN 2            
			</b>
			<b>
			  123456 st            
			</b>
			<b>
			   dank            
			</b>
		</li>
		<li  class="select-address-each">
		<strong>
		address 1
		</strong>
			<b>
			  TORGGATAN 2            
			</b>
			<b>
			  123456 st            
			</b>
			<b>
			   dank            
			</b>
		</li>
		<li  class="select-address-each">
		<strong>
		address 1
		</strong>
			<b>
			  TORGGATAN 2            
			</b>
			<b>
			  123456 st            
			</b>
			<b>
			   dank            
			</b>
		</li>
		<li  class="select-address-each">
		<strong>
		address 1
		</strong>
			<b>
			  TORGGATAN 2            
			</b>
			<b>
			  123456 st            
			</b>
			<b>
			   dank            
			</b>
		</li>
	
	</ul>
	
</div>

<script>
	
	$('body').on('click','.select-address-each',function(){
		$('.select-address-each').removeClass('selected')
		$(this).addClass('selected');
		
		$('#close-delivery-address-modal--js').click();
	});
	
</script>
