<div class="form-newaddress">
	<div class="row">
		<div class="col-xs-6 each-box">
			<label>
			Företagsnamn:
			</label>
		</div>
		<div class="col-xs-6 each-box">
			<input id="uniqueshipadress_toName" value="" class="form-control" type="text" maxlength="40">
		</div>
	</div>
	<div class="row">
			<div class="col-xs-6 each-box">
			<label>
			Gatuadress:
			</label>
		</div>
		<div class="col-xs-6 each-box">
			<input id="uniqueshipadress_address1" value="" class="form-control" type="text" maxlength="40">
		</div>
	</div>
	
	<div class="row">
			<div class="col-xs-6 each-box">
				<label>
			Leveransinformation (Våning, portkod etc)::
			</label>
		</div>
		<div class="col-xs-6 each-box">
			<input id="uniqueshipadress_address2" value="" class="form-control" type="text" maxlength="40">
		</div>
	</div>
	
	
	<div class="row">
		<div class="col-xs-6 each-box">
			<label>
			Postnummer: 
			</label>
		</div>
		<div class="col-xs-6 each-box">
			<input id="uniqueshipadress_postalCode" class="form-control" value="" type="text" maxlength="40">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 each-box">
			<label>
			Ort: 
			</label>
		</div>
		<div class="col-xs-6 each-box">
			<input id="uniqueshipadress_city" class="form-control" value="" type="text">
		</div>
	</div>	
	
	
				
	<div class="row">
		<div class="col-xs-6 each-box">
			<label>
			Land: 
			</label>
		</div>
		<div class="col-xs-6 each-box">
			<input id="uniqueshipadress_land" class="form-control" value="Sverige" type="text" maxlength="40" disabled="">
		</div>
	</div>

</div>