<!-- Modal -->
<div class="modal fade" id="deliveryAddressModal" tabindex="-1" role="dialog" aria-labelledby="deliveryAddressLabel">
    <div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="loginModalLabel">Leveransadress</h4>
			</div>
			 <div class="modal-body">
				<compontent src="/components/comp/leveransadress-modal-content.html"></compontent>
				<compontent src="/components/comp/leveransadress-modal-info.html"></compontent>
				
			 </div>
			 <div class="modal-footer">
				<compontent src="/components/comp/leveransadress-modal-ui.html"></compontent>
			 </div>
		</div>
    </div>
</div>

