<div class="registration-content--js active" id="company">
    <div class="form-group">
        <label class="requierd" for="org-nr">Organisationsnummer</label>
        <input type="text" class="form-control" id="org-nr" placeholder="Organisationsnummer">
    </div>
    <div class="form-group">
        <label class="requierd" for="Email">Epostadress</label>
        <input type="email" class="form-control" id="Email" placeholder="Epostadress">
    </div>
    <div class="form-group">
        <label class="requierd" for="Password1">Lösenord</label>
        <input type="password" class="form-control" id="Password1" placeholder="Lösenord">
    </div>
    <div class="form-group">
        <label class="requierd" for="Password2">Upprepa lösenord</label>
        <input type="password" class="form-control" id="Password2" placeholder="Upprepa lösenord">
    </div>
</div>