<div class="registration-content--js" id="private">
    <div class="form-group">
        <label class="requierd" for="firstname">Förnamn</label>
        <input type="text" class="form-control" id="firstname" placeholder="Förnamn">
    </div>
    <div class="form-group">
        <label class="requierd" for="lastname">Efternamn</label>
        <input type="text" class="form-control" id="lastname" placeholder="Efternamn">
    </div>
    <div class="form-group">
        <label class="requierd" for="Email">Epostadress</label>
        <input type="email" class="form-control" id="Email" placeholder="Epostadress">
    </div>
    <div class="form-group">
        <label class="requierd" for="Password1">Lösenord</label>
        <input type="password" class="form-control" id="Password1" placeholder="Lösenord">
    </div>
    <div class="form-group">
        <label class="requierd" for="Password2">Upprepa lösenord</label>
        <input type="password" class="form-control" id="Password2" placeholder="Upprepa lösenord">
    </div>
    <div class="form-group">
        <label class="requierd" for="address">Adress</label>
        <input type="text" class="form-control" id="address" placeholder="Adress">
    </div>
    <div class="form-group">
        <label class="requierd" for="information">Leveransinformation (Våning, portkod etc)</label>
        <input type="text" class="form-control" id="information" placeholder="Leveransinformation">
    </div>
    <div class="form-group">
        <label class="requierd" for="zip">Postnummer</label>
        <input type="text" class="form-control" id="zip" placeholder="Postnummer">
    </div>
    <div class="form-group">
        <label class="requierd" for="city">Ort</label>
        <input type="text" class="form-control" id="city" placeholder="Ort">
    </div>
    <div class="form-group">
        <label class="requierd" for="country">Land</label>
        <input type="text" class="form-control" id="country" placeholder="Sverige">
    </div>
</div>