<div class="minicart hidden-xs">
	<div class="minicart-items-content">
		<ul class="minicart-items-added ">
			
			<li class="minicart-items clearfix">
				<div class="minicart-items-img col-sm-3">
					<img alt="Provsäck 16 120x305 brun 10/fp" border="0" src="/images/webthumbnail/9836103.jpg" >
				</div>
				<div class="minicart-items-name  col-sm-5 text-left">
				<a href="">Provsäck 16 120x305 brun 10/fp</a>
				</div>
				<div class="minicart-items-amount  col-sm-2">
						1 st
				</div>
				<div class="minicart-items-details col-sm-2 nopadding">
						 <span class="price">51,60 kr/fp</span> 
				</div>
			</li>
		
			
			<li class="minicart-items clearfix">
				<div class="minicart-items-img col-sm-3">
					<img alt="Provsäck 16 120x305 brun 10/fp" border="0" src="/images/webthumbnail/9836103.jpg" >
				</div>
				<div class="minicart-items-name  col-sm-5 text-left">
				<a href="">Provsäck 16 120x305 brun 10/fp</a>
				</div>
				<div class="minicart-items-amount  col-sm-2">
						2 st
				</div>
				<div class="minicart-items-details col-sm-2 nopadding">
						 <span class="price">51,60 kr/fp</span> 
						 <span class="total-price">251,60 kr/fp</span> 
				</div>
			</li>
		
		
		</ul>
		<div class="minicart-items-total text-right">
			<div class="full-width">
				<span >Summa (2 st):</span> 
				<span>103,20 kr</span>
			</div>
			<div class="full-width">
				<span>Frakt:</span> 
				<span>89,00 kr</span>
			</div>
			<div class="full-width">
				<span>Totalt, inkl moms:</span> 
				<span >240,25 kr</span>
			</div>
		</div>
	</div>
	<div class="minicart-btn-group text-right">
		<a class="btn btn-primary" style="float: left;" >Ändra kundvagn</a> 
		<a class="btn btn-buy" href="/checkout.html">Till kassan</a>
	</div>
</div>
<script>
	
	$('#show-minicart').mouseenter(function(){
		$('.minicart').show();
	});
	$('#show-minicart').mouseleave(function(){
		$('.minicart').fadeOut();
	});
	
</script>