<div class="cointainer-fluid navigation-fullwidth">
  <nav class="container">
    <div class="row">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navigation" id="od-navbar">
        <div class="mobile-login visible-xs">
          <a href="#" data-toggle="modal" data-target="#loginModal">Logga in</a>
          <span>|</span>
          <a>Skapa konto</a>
        </div>
        <ul class="nav-list row nav navbar-nav">
          <li class="dropdown nav-links">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Produkter</a>
            <ul class="dropdown-menu multi-level fullWidth-dropdown">
              <li class="dropdown-submenu">
                <a href="#">Bläck & toner</a>
                <ul class="dropdown-menu hidden-xs">
                  <li class="col-sm-4"><a href="#">level 2</a></li>
                  <li class="col-sm-4"><a href="#">level 3</a></li>
                  <li class="col-sm-4"><a href="#">level 4</a></li>
                  <li class="col-sm-4"><a href="#">level 5</a></li>
                  <li class="col-sm-4"><a href="#">level 5</a></li>
                  <li class="col-sm-4"><a href="#">level 5</a></li>
                  <li class="col-sm-4"><a href="#">level 5</a></li>
                </ul>
              </li>
              <li><a href="#">Kalendrar</a></li>
              <li><a href="#">Arbetskläder & PPE</a></li>
              <li><a href="#">Ergonomi</a></li>
              <li><a href="#">Första hjälpen & Brandskydd</a></li>
              <li><a href="#">Konferansutrustning</a></li>
              <li class="dropdown-submenu"><a href="#">Laminering & inbindning</a>
              <ul class="dropdown-menu hidden-xs">
                  <li class="col-sm-4"><a href="#">level 2123</a></li>
                  <li class="col-sm-4"><a href="#">level 3444</a></li>
                  <li class="col-sm-4"><a href="#">level 4453634</a></li>
                  <li class="col-sm-4"><a href="#">level 5ertert</a></li>
                  <li class="col-sm-4"><a href="#">level 2123</a></li>
                  <li class="col-sm-4"><a href="#">level 3444</a></li>
                  <li class="col-sm-4"><a href="#">level 4453634</a></li>
                  <li class="col-sm-4"><a href="#">level 5ertert</a></li>
                  <li class="col-sm-4"><a href="#">level 2123</a></li>
                  <li class="col-sm-4"><a href="#">level 3444</a></li>
                  <li class="col-sm-4"><a href="#">level 4453634</a></li>
                  <li class="col-sm-4"><a href="#">level 5ertert</a></li>
                  <li class="col-sm-4"><a href="#">level 2123</a></li>
                  <li class="col-sm-4"><a href="#">level 3444</a></li>
                  <li class="col-sm-4"><a href="#">level 4453634</a></li>
                  <li class="col-sm-4"><a href="#">level 5ertert</a></li>
                  <li class="col-sm-4"><a href="#">level 2123</a></li>
                  <li class="col-sm-4"><a href="#">level 3444</a></li>
                  <li class="col-sm-4"><a href="#">level 4453634</a></li>
                  <li class="col-sm-4"><a href="#">level 5ertert</a></li>
                </ul></li>
              <li><a href="#">Märka & skylta</a></li>
              <li><a href="#">Möber & Belysning</a></li>
              <li><a href="#">Packa & Skicka</a></li>
              <li><a href="#">Pappe & Block</a></li>
              <li><a href="#">Pennor & Ritmaterial</a></li>
            </ul>
          </li>
          <li class="nav-links"><a href="#">Varumärken</a></li>
          <li class="nav-links"><a href="#">Tjänster</a></li>
          <li class="dropdown nav-links"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Mina sidor</a>
            <ul class="dropdown-menu fullWidth-dropdown">
              <li><a href="#" data-toggle="modal" data-target="#loginModal">Logga in</a></li>
              <li><a href="#" data-toggle="modal" data-target="#loginModal">Skapa konto</a></li>
              <li><a href="#">Om mina sidor</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
</div>