
<div class="orderhistory">
	<form action="" method="post">
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<div class="form-check">
					<label>Restnoterad <input checked class="form-check-input" type="checkbox" value="true"></label>
					<label>Under behandling <input checked class="form-check-input" type="checkbox" value="true"></label>
					<label>Packas <input checked class="form-check-input" type="checkbox" value="true"></label>
					<label>Dellevererad. <input checked class="form-check-input" type="checkbox" value="true"></label>
						<label>Levererad. <input checked class="form-check-input" type="checkbox" value="true"></label>
				</div>
				
			</div>
			<div class="col-xs-12  col-sm-6">
				<div class="form-group">
					<label>From:</label> <input class="form-control" name="from" size="35">
				</div>
				<div class="form-group">
					<label>Tom:</label> <input class="form-control" name="to" size="35" >
				</div>
				<div class="form-group">
					<label>Fakturareferens:</label> <input class="form-control" name="refference" size="35" >
				</div>
				<div class="form-group">
					<label>Ert ordernummer :</label> <input class="form-control" name="yourordernumber" size="35">
				</div>
				<div class="form-group">
					<label>Ordernummer :</label> <input class="form-control" name="ordernumber" size="35">
				</div>
			</div>
			<div class="col-xs-12  col-sm-6">
			<div class="image-box">
				<img id="inline_image5" src="/images/1_646x332_hh_170323.jpg">
			</div>
			<div class="form-group">
				<p>Orderhistoriken i webshopen är endast möjlig att söka 3 månader bakåt i tiden. Behöver ni information om äldre order kontakta vårt kundcenter.</p>
					<button class="btn btn-red" type="search" title="">SÖK</button>
				</div>
			</div>
			
		</div>
	</form>
</div>

