<div class="section">
    <h3 class="section-head">populära kategorier</h1>
        <div class="category-items">
            <div class="category text-center">
                <ul>
                    <li class="category-item-img">
                        <a id="popular-kategori-img-0" href="../sortiment/papper--block-c2334/kopieringspapper-c2345/"><img height="120px" width="120" border="0" src="../images/categoryimages/123211.jpg" /></a>
                    </li>
                    <li class="category-item-title">
                        <a id="popular-kategori-title-0" href="../sortiment/papper--block-c2334/kopieringspapper-c2345/">Kopieringspapper</a>
                    </li>
                </ul>
            </div>

            <div class="category text-center">
                <ul>
                    <li class="category-item-img">
                        <a id="popular-kategori-img-1" href="../sortiment/stad--hygien-c2157/stadredskap-c3299/"><img height="120px" width="120" border="0" src="../images/categoryimages/87675.jpg" /></a>
                    </li>
                    <li class="category-item-title">
                        <a id="popular-kategori-title-1" href="../sortiment/stad--hygien-c2157/stadredskap-c3299/">Städredskap</a>
                    </li>
                </ul>
            </div>

            <div class="category text-center">
                <ul>
                    <li class="category-item-img">
                        <a id="popular-kategori-img-2" href="../sortiment/pentry--fika-c2443/godis--choklad-c2449/"><img height="120px" width="120" border="0" src="../images/categoryimages/87283.jpg" /></a>
                    </li>
                    <li class="category-item-title">
                        <a id="popular-kategori-title-2" href="../sortiment/pentry--fika-c2443/godis--choklad-c2449/">Godis & Choklad</a>
                    </li>
                </ul>
            </div>

            <div class="category text-center">
                <ul>
                    <li class="category-item-img">
                        <a id="popular-kategori-img-3" href="../sortiment/stad--hygien-c2157/diskmedel-c3241/"><img height="120px" width="120" border="0" src="../images/categoryimages/87670.jpg" /></a>
                    </li>
                    <li class="category-item-title">
                        <a id="popular-kategori-title-3" href="../sortiment/stad--hygien-c2157/diskmedel-c3241/">Diskmedel</a>
                    </li>
                </ul>
            </div>

            <div class="category text-center">
                <ul>
                    <li class="category-item-img">
                        <a id="popular-kategori-img-4" href="../sortiment/teknik-c2130/skrivare--scanners-c2051/"><img height="120px" width="120" border="0" src="../images/categoryimages/87678.jpg" /></a>
                    </li>
                    <li class="category-item-title">
                        <a id="popular-kategori-title-4" href="../sortiment/teknik-c2130/skrivare--scanners-c2051/">Skrivare & Scanners</a>
                    </li>
                </ul>
            </div>

            <div class="category text-center">
                <ul>
                    <li class="category-item-img">
                        <a id="popular-kategori-img-0" href="../sortiment/papper--block-c2334/kopieringspapper-c2345/"><img height="120px" width="120" border="0" src="../images/categoryimages/123211.jpg" /></a>
                    </li>
                    <li class="category-item-title">
                        <a id="popular-kategori-title-0" href="../sortiment/papper--block-c2334/kopieringspapper-c2345/">Kopieringspapper</a>
                    </li>
                </ul>
            </div>
        </div>
</div>