<div class="component-richtext">
    <div class="hero-image">
        <img src="images/pressmeddelande.jpg" origWidth="958" origHeight="163">
    </div>


    <div class="col-lg-3 col-lg-push-9 col-md-4 col-md-push-8">
        <div class="press-contact">
            <H3>Presskontakt</H3>
            <P>
                <FONT style="FONT-SIZE: 12px" size=2>
                    <B>Margareta Le Calvé, VD</B>
                    <BR>Tel: 076 720 1075
                    <BR>margareta.lecalve@officedepot.com</FONT>
            </P>
        </div>
    </div>

    <div class="col-lg-9 col-lg-pull-3 col-md-8 col-md-pull-4">
	
	
			<h2>Office Depot Svenska AB – Ny chef för HR</h2>
			<p><font size="2" style="FONT-SIZE: 12px"><strong>Pressmeddelande 2016-11-24<br>
			Office Depot Svenska AB – Ny chef för HR</strong><br>
			<br>
			Anette Hansen har anställts som ny HR chef på Office Depot. Anette kommer närmast från Swedish Match där hon haft rollen som HR chef och arbetat sedan 2010.<br>
			<br>
			Tidigare arbetsgivare har bla varit Wise Group AB (HR chef)samt Ingram Micro Nordic AB (HR Chef Nordic). Anette har lång erfarenhet av samtliga huvudsakliga HR processer, både på en strategisk och operationell nivå. Anette kommer att ingå i den svenska ledningsgruppen och rapportera till Peo Knutson, Ekonomidirektör. Vi återkommer med besked om vilket datum Anette kommer att börja.<br>
			<br>
			-”Anette tillför bred kompetens och erfarenhet från olika branscher som är värdefull för oss. Hon har en utmärkt kombination av affärsmässighet, förmåga att lyssna, högt driv och kraftfullt genomförande” säger VD, Margareta Le Calvé.<br>
			<br>
			-"Jag är väldigt glad och stolt över att få komma in i en organisation som har en så lång tradition med ett stort utbud av tjänster och produkter och tillsammans med alla duktiga medarbetare få vara med om att stärka Office Depot på marknaden ytterligare. Jag drivs av att arbeta med affärsnära HR, och därför tycker jag det ska blir roligt att tillsammans med HR-teamet få fortsätta arbeta nära affären, marknaden och medarbetarna, det är så vi gör skillnad” säger Anette Hansen.</font></p>
			<p><font size="2" style="FONT-SIZE: 12px"><strong>För mer information:</strong><br>
			Margareta Le Calvé, VD Office Depot Svenska AB<br>
			Tel: 073 400 13 74<br>
			margareta.lecalve@officedepot.com<br>
			www.officedepot.com<br></font></p><br>
			<hr>
			<h2>Office Depot först i branschen att öppna Coffee Corner</h2>
			<p><font size="2" style="FONT-SIZE: 12px"><strong>Pressmeddelande 2016-02-23<br>
			Office Depot först i branschen att öppna Coffee Corner med gratis WiFi och printmöjligheter i butiken på Hötorget, Sveavägen 17.</strong><br>
			<br>
			Office Depot har under en tid byggt om branschens största kontorsvarubutik i Stockholms innerstad och samtidigt utarbetat ett nytt koncept för att skapa nya mervärden för sina kunder. Coffee Corner erbjuder en lugn plats alldeles intill T-baneuppgång Hötorget för den som vill slå sig ner och arbeta en stund över en god kopp kaffe. Paulig Professional har varit med och utvecklat ett kaffekoncept som blir ett mervärde för butikens kunder.<br>
			<br>
			"Vi är stolta att vara först i branschen med detta unika koncept som tillför stort mervärde för våra kunder" säger Margareta Le Calvé, VD på Office Depot.<br>
			<br>
			"Våra kunder får möjlighet att komma in till oss, jobba i en skön miljö med gratis WiFi och tillgång till gott kaffe, samtidigt som de kan handla och skriva ut material och få annan service" säger Patrik Humlerö Försäljningsdirektör Retail på Office Depot.<br>
			Kaffehörnan som är på 25 m² innehåller allt man behöver för att kunna genomföra ett möte eller jobba en stund. Perfekt för det mindre företaget eller om man vill mötas på en neutral plats.<br>
			<br>
			"Vi är glada över att vi fått förtroendet att leverera kaffelösningen för detta koncept med kaffemaskin, kaffe och ingredienser. Behovet av att kunna mötas över en god kopp kaffe i en trevlig miljö eller få jobba ostört i några timmar är något som ökar. Med centralstationen i närheten är detta en möjlighet också för resande människor" säger Mikael Åsaborn, Account Manager på Paulig Professional.<br>
			Utbudet av kaffe som serveras kan även köpas i butiken, både espressoböner och kaffebönor, allt för att man som kund ska kunna få något som passar sin personliga smak.</font></p>
			<p><font size="2" style="FONT-SIZE: 12px"><strong>För mer information:</strong><br>
			Margareta Le Calvé, VD Office Depot Svenska AB<br>
			Tel: 073 400 13 74<br>
			margareta.lecalve@officedepot.com<br>
			www.officedepot.com<br>
			<br>
			Mikael Åsaborn, Account Manager Paulig Professional<br>
			Tel: 070 491 06 40<br>
			mikael.asaborn@paulig.com<br>
			För mer information om Paulig Professional:<br>
			www.pauligprofessional.se</font></p><br>
			<hr>
			<h2>Office Depot och Antalis i utökat samarbete</h2>
			<p><font size="2" style="FONT-SIZE: 12px"><strong>Pressmeddelande 2014-05-14<br>
			Detta samarbete gör att återförsäljare får tillgång till Xerox starka varumärke via Office Depot. Samarbetet innebär även att Office Depot breddar sitt erbjudande och utvecklar sitt sortiment inom emballage från Antalis.</strong><br>
			<br>
			”Vi har lång erfarenhet från att arbeta med återförsäljare i Sverige och genom detta nya samarbete kommer vi att kunna utveckla denna del av vår verksamhet ytterligare. Med detta samarbete kan Office Depot erbjuda Antalis mindre ÅF ett bredare sortiment, tillgång till resurser och kompetens inom olika områden som ger dem en konkurrensfördel” säger Margareta Le Calvé, VD Office Depot.<br>
			<br>
			”Office Depot och Antalis samarbetar framgångsrikt sedan tidigare inom några områden och Office Depot var ett naturligt val för oss på Antalis. Denna lösning ger även Antalis mindre återförsäljare möjlighet att få åtkomst till Xerox starka varumärke och samtidigt köpa kontorsmaterial från en av Sveriges största kontorsvaruföretag med en modern lager- och logistikapparat.” säger Lars Löfgren, VD Antalis AB.<br>
			<br>
			Samarbetet berör Antalis hela sortiment av Xerox produkter (Papper och Specialmedia). Leverans sker direkt från Office Depot centrallager i Strängnäs och från Antalis lager. Genom detta samarbete blir Office Depot störst leverantör till återförsäljarledet i kontorsmaterialbranschen och får tillsammans med sina 46 butiker och egen säljkår en rikstäckande försäljningsorganisation i Sverige.</font></p>
			<p><font size="2" style="FONT-SIZE: 12px"><strong>För mer information:</strong><br>
			Margareta Le Calvé, VD Office Depot Svenska AB<br>
			Tel: 073 400 13 74<br>
			margareta.lecalve@officedepot.com<br>
			www.officedepot.com<br>
			<br>
			Lars Löfgren, VD Antalis AB<br>
			Tel: 010 707 70 93<br>
			www.antalis.se</font></p>
			<p><font size="2" style="FONT-SIZE: 12px">Office Depot i korthet:<br>
			Office Depot är en av världens största leverantörer av kontorsvaror och finns i 53 länder. Med vårt unika helhetserbjudande av kontorsvaror och tjänster är vi kontorets One Stop Shop vilket ger våra kunder ett enklare kontorsliv. Vi erbjuder inte bara alla tänkbara förbrukningsvaror till kontoret, utan även möbler, profilprodukter, utskriftslösningar, kaffemaskiner och mycket mer. Oavsett om det är ett litet lokalt eller stort multinationellt företag kan vi erbjuda anpassade och skräddarsydda lösningar avseende allt från sortiment, beställningar och leverans. Försäljningen i Sverige sker via vårt butiksnät, webshop och kundcenter. Företaget omsätter drygt 1 miljard sek och har 400 medarbetare. Office Depot Inc, noterat på NY börsen, är en av världens ledande leverantörer av kontorsmateriel med verksamhet i cirka 60 länder, 40 000 anställda och en omsättning om 80 miljarder Sek.</font></p>
			<p><font size="2" style="FONT-SIZE: 12px">Antalis i korthet:<br>
			Antalis är Europas ledande grossist inom finpapper och emballage. I Sverige har företaget funnits i mer än 100 år under de tidigare namnen Svenskt Papper och Map. Antalis har en ledande position på den svenska marknaden inom papper och är i kraftig tillväxt inom förpackningsområdet. Omsättningen i Sverige uppgår till 700 miljoner. I sortimentet ingår cirka 6 000 artiklar. Leveransservicen är mycket hög med leveranser flera gånger om dagen och ledtider som ofta ligger på några få timmar.</font></p><br>
			<hr>
			<h2>Office Depots sammanslagning med Office Max</h2>
			<p><font size="2" style="FONT-SIZE: 12px"><strong>Pressmeddelande 2013-11-25<br>
			Office Depot, Inc. och OfficeMax Incorporated tillkännagav den 5 november slutförandet av sammanslagningen av bolagen för att skapa en starkare, mer konkurrenskraftig och mer effektiv global leverantör av kontorsprodukter, tjänster och lösningar. Det sammanslagna bolaget kommer att använda namnet Office Depot, Inc. och kommer att vara noterade på New York-börsen under symbolen ODP.</strong><br>
			<br>
			Ny Styrelseordförande och CEO för Office Depot, Inc, är Roland C Smith som har varit CEO och koncernchef för både offentliga och privata företag tidigare. Smith var senast verkställande direktör och koncernchef för Delhaize Amerika, LLC. Tidigare var Smith CEO för The Wendy Company, CEO och koncernchef för Wendys/ Arby Group, Inc., och CEO för Wendys International, Inc.<br>
			Det sammanslagna bolaget kommer att ha betydligt bättre finansiell styrka och flexibilitet, med förmågan att leverera långsiktiga förbättrade operativa resultat genom ökad konkurrenskraft. Nya Office Depot, Inc., vilket skulle haft en sammanlagd omsättning under de sista 12 månaderna avslutades den 28 september 2013 på cirka $ 17 miljarder, sysselsätter nu omkring 66.000 medarbetare över hela världen. Bolaget tillhandahåller produkter, tjänster och lösningar till konsumenter och företag i 59 länder med mer än 2200 butiker, prisbelönta e - handelssajter, och en dedikerad B2B försäljningsorganisation. Office Depot verkar genom ett globalt nätverk av helägda verksamheter, joint ventures, franchisetagare, licenstagare och allianspartners.</font></p>
			<p><font size="2" style="FONT-SIZE: 12px"><strong>För mer information:</strong><br>
			Margareta Le Calvé, VD Office Depot Svenska AB<br>
			Tel: 073 400 13 74<br>
			margareta.lecalve@officedepot.com<br>
			www.officedepot.com</font></p><br>
			<hr>
			<h2>Office Depot och Procurator tecknar samarbetsavtal</h2>
			<p><font size="2" style="FONT-SIZE: 12px"><strong>Pressmeddelande 2013-09-30<br>
			Office Depot breddar sortimentet ytterligare i ett samarbete med Procurator. Samarbetsavtalet gäller sortimentet arbets- och skyddskläder och personligt skydd såsom handskar, skor, glasögon, hörselskydd mm. För kunderna innebär det en samordning av inköp och förenklad administration vilket spar både tid och miljö.</strong><br>
			<br>
			”Detta är ett naturligt steg i vår ambition att utöka vårt erbjudande med fler produkter och tjänster som rör arbetsplatsen. Våra kunder önskar att vi tar ett större ansvar och hjälper dem med fler områden på kontoret och på arbetsplatsen. Vi ser en ökad förfrågan av den här typen av produkter och tillsammans med Procurator har vi marknadens bredaste erbjudande inom detta område.” säger Margareta Le Calvé, VD Office Depot.<br>
			<br>
			”Genom Office Depot når vi en väl utvecklad kanal till marknaden”, säger Ulf Hällström, koncernchef Procurator.<br>
			Procurator är en producent med stort kunnande och resurser inom produktutveckling och tillverkning av arbetskläder och personligt skydd. Sortimentet innebär ett viktigt komplement till Office Depots nuvarande kategorier.</font></p>
			<p><font size="2" style="FONT-SIZE: 12px"><strong>För mer information:</strong><br>
			Margareta Le Calvé, VD Office Depot Svenska AB<br>
			Tel: 073 400 13 74<br>
			margareta.lecalve@officedepot.com<br>
			www.officedepot.com<br>
			<br>
			Ulf Hällström, Koncernchef Procurator<br>
			Tel: 073 080 15 40<br>
			ulf.hallstrom@procurator.se<br>
			www.procurator.se</font></p>
			<p><font size="2" style="FONT-SIZE: 12px">Office Depot i korthet:<br>
			Office Depot Svenska AB är ett av Sveriges ledande kontorsvaruföretag med försäljning via butiker, Internet samt direktförsäljning. Bolaget förvärvade 2011 Svanströms och den svenska verksamheten har totalt en omsättning på 1.1 miljard SEK och 420 anställda. Office Depot Inc, noterat på NY börsen, är en av världens ledande leverantörer av kontorsmateriel med verksamhet i cirka 60 länder, 40 000 anställda och en omsättning om 80 miljarder Sek.</font></p>
			<p><font size="2" style="FONT-SIZE: 12px">Procurator i korthet:<br>
			Procurator är en av Sveriges ledande producenter av ett brett sortiment av personlig skyddsutrustning, och arbetskläder. Utöver Sverige finns Procurator idag i de övriga nordiska länderna samt Polen. Vidare tillhandahåller de risk- och behovsanalyser, utbildning, service samt erbjuder kundanpassade skyddslösningar. Procuratorkoncernen omsätter ca 1,2 miljarder SEK och har 500 anställda.</font></p><br>
			<hr>
			<h2>Office Depot blir helhetsleverantör av kontorsmaterial och skrivarlösning till mobiloperatören 3 i hela Sverige.</h2>
			<p><font size="2" style="FONT-SIZE: 12px"><strong>Pressmeddelande 2013-09-23<br>
			Mobiloperatören 3 har efter en omfattande upphandling valt Office Depot som leverantör av både förbrukningsmaterial och skrivarlösningar till Hi3Gs alla kontor och butiker i Sverige. Office Depot hjälper på så sätt Hi3G att minska antal leverantörer, få bättre kontroll och sänka sina kostnader.<br></strong><br>
			"Vi är stolta över det förtroende vi fått från 3 att vara deras helhetsleverantör för allt som rör deras kontor och butiker. Kvalité och leveransprecision i kombination med en helhetslösning är något som våra kunder efterfrågar och som vi är mycket duktiga på”, säger Margareta Le Calvé, VD på Office Depot.<br>
			<br>
			Produktområden som ingår är kontorsmaterial, kontorspapper, trycksaker, skrivare/toner, pentry samt hygienpapper.<br></font><br>
			”Office Depot hjälper oss att få betydligt lägre drift och servicekostnader. Vi tycker det är positivt att ha Office Depot som helhetsleverantör av samtliga produktgrupper.” säger Fredrik Östman, Inköpschef på 3.<br></p>
			<p><font size="2" style="FONT-SIZE: 12px"><strong>För mer information:</strong><br>
			Margareta Le Calvé, VD Office Depot Svenska AB<br>
			Tel: 073 400 13 74<br>
			margareta.lecalve@officedepot.com<br>
			www.officedepot.com<br>
			<br>
			Fredrik Östman, Inköpschef 3<br>
			Tel: 073 533 73 14<br>
			fredrik.ostman@tre.se<br>
			www.tre.se</font></p>
			<p><font size="2" style="FONT-SIZE: 12px">Office Depot i korthet:<br>
			Office Depot Svenska AB är ett av Sveriges ledande kontorsvaruföretag med försäljning via butiker, Internet samt direktförsäljning. Bolaget förvärvade 2011 Svanströms och den svenska verksamheten har totalt en omsättning på 1.1 miljard SEK och 420 anställda. Office Depot Inc, noterat på NY börsen, är en av världens ledande leverantörer av kontorsmateriel med verksamhet i cirka 60 länder, 40 000 anställda och en omsättning om 80 miljarder Sek.</font></p>
			<p><font size="2" style="FONT-SIZE: 12px">Om 3:<br>
			3-gruppen är världens ledande operatör av mobila bredbandsnät och mediatjänster med drygt 30 miljoner kunder i tio länder. I Sverige och Danmark är 3 ett joint venture mellan Hong Kong-baserade Hutchison-Whampoa Limited (60%) och Investor AB (40%). För mer information, gå till www.tre.se.</font></p><br>
			<hr>
			<h2>Office Depot stärker sin position som ledande leverantör av Städ & Hygienprodukter i nytt avtal med Coor Service Management</h2>
			<p><font size="2" style="FONT-SIZE: 12px"><strong>Pressmeddelande 2013-09-16<br>
			Coor har valt Office Depot som en av två leverantörer för köp av städ & hygienprodukter. Avtalet avser samtliga orter i Sverige och började gälla 1 juli 2013. Avtalet avser produkter såsom hygienpapper, påsar, städredskap och kemiska produkter etc.. Avtalet kompletterar det redan existerande avtalet gällande kontorsmaterial vilket gör Office Depot till en bred leverantör av förbrukningsprodukter till Coor i Sverige.<br></strong><br>
			"Vi är väldigt glada och stolta över förtroende vi har fått från Coor att utveckla vårt samarbete med detta nya avtal. Det är ett viktigt steg i vår tillväxtstrategi i Sverige och visar att Office Depot är väl positionerade inom detta område" säger Margareta Le Calvé, VD Office Depot.<br></font><br>
			"Vi har ett historiskt bra och strategiskt samarbete, vilket känns tryggt. Då Office Depot kan förse Coor med produkter inom flera olika områden, genererar det i mindre administration, bättre miljö och en mer kostnadseffektiv leverans för oss och för våra kunder" säger Michael Jansson, Strategisk inköpare på Coor<br></p>
			<p><font size="2" style="FONT-SIZE: 12px"><strong>För mer information:</strong><br>
			Margareta Le Calvé, VD Office Depot Svenska AB<br>
			Tel: 073 400 13 74<br>
			margareta.lecalve@officedepot.com<br>
			www.officedepot.com<br>
			<br>
			Michael Jansson, Strategisk inköpare Coor<br>
			Tel: 076 527 02 09<br>
			michael.jansson@coor.com<br>
			www.coor.com</font></p>
			<p><font size="2" style="FONT-SIZE: 12px">Office Depot i korthet:<br>
			Office Depot Svenska AB är ett av Sveriges ledande kontorsvaruföretag med försäljning via butiker, Internet samt direktförsäljning. Bolaget förvärvade 2011 Svanströms och den svenska verksamheten har totalt en omsättning på 1.1 miljard SEK och 420 anställda. Office Depot Inc, noterat på NY börsen, är en av världens ledande leverantörer av kontorsmateriel med verksamhet i cirka 60 länder, 40 000 anställda och en omsättning om 80 miljarder Sek.</font></p>
			<p><font size="2" style="FONT-SIZE: 12px">Coor i korthet:<br>
			Coor Service Management är Nordens ledande aktör inom service management. Bolaget är specialiserat på att leda, utveckla och effektivisera servicefunktioner på kontor, i fastigheter, i produktionsanläggningar och i offentlig verksamhet.<br>
			<strong>Ett urval av våra kunder i Sverige:</strong> Atlas Copco, Bäckhammars bruk, E.ON, Ericsson, ICA, Kemira, Korsnäs, Landic Properties, Landstinget i Östergötland, Landstinget Gävleborg, CGI (f.d. Logica), Luvata, Mälarenergi AB, Outokumpu, Ovako Steel, Ringhals, Saab, Sandvik, Sapabolagen, SAS, Siemens, Skanska, SSAB, Statoil, Telia, Vasakronan, Vattenfall, AB Volvo, Volvo Personvagnar, Capgemini, Tieto, Vectura.</font></p><br>
			<hr>
			<h2>Office Depot inleder samarbete med Connect för printtjänster</h2>
			<p><font size="2" style="FONT-SIZE: 12px"><strong>Pressmeddelande 2013-08-28<br>
			För att erbjuda våra kunder en högre servicegrad, bättre tillgänglighet och en bredare kunskap inom IT, har Office Depot tecknat ett partnerskap med Connect Syd AB för service på kontorsmaskiner. ”Vi är väldigt nöjda över samarbetsavtalet med Connect. Tillsammans med Connect, som är en mycket professionell partner, kan vi ta nästa steg i vår satsning på att tillhandahålla kompletta printlösningar till våra kunder”, säger Margareta Le Calvé, VD på Office Depot.</strong><br>
			<br>
			Marknaden går mot mer komplexa IT-lösningar kring utskrifter som är molnetbaserade och för att kunna erbjuda dessa tjänster behöver Office Depot en stabil, trygg partner som finns på de orter Office Depot är starka. ”Vi har en unik position då vi inte är märkesberoende och kan leverera kompletta lösningar anpassade till både små och stora företag i Sverige och internationellt. Vi hjälper företag att få kontroll över sina kostnader och att hitta effektiviseringar för kopiering, scanning och fax gällande maskiner, förbrukning och service” säger Margareta Le Calvé. ”Att Connect får förtroendet att hantera service och support för Office Depot hårdvarukunder är mycket glädjande. Vi ser denna affär som en del i ett intressant samarbete där Office Depot kan erbjuda sina kunder Connects övriga tjänster inom IT-området paketerade med sin kärnverksamhet och vice versa”, säger Patrick Olsson Krüger, Koncernchef på Connect.<br></font></p>
			<p><font size="2" style="FONT-SIZE: 12px"><strong>För mer information:</strong><br>
			Margareta Le Calvé, VD Office Depot Svenska AB<br>
			Tel: 073 400 13 74<br>
			margareta.lecalve@officedepot.com<br>
			<br>
			Patrick Olsson Krüger, Koncernchef på Connect<br>
			Tel: 031 763 35 24<br>
			patrick.kruger@connect.se</font></p>
			<p><font size="2" style="FONT-SIZE: 12px">Office Depot i korthet:<br>
			Office Depot Svenska AB är ett av Sveriges ledande kontorsvaruföretag med försäljning via butiker, Internet samt direktförsäljning. Bolaget förvärvade 2011 Svanströms och den svenska verksamheten har totalt en omsättning på 1.1 miljard SEK och ca 420 anställda. Office Depot Inc, noterat på NY börsen, är en av världens ledande leverantörer av kontorsmateriel med verksamhet i cirka 60 länder, 40 000 anställda och en omsättning om 80 miljarder Sek.</font></p>
			<p><font size="2" style="FONT-SIZE: 12px">Connect i korthet:<br>
			Connect grundades i mitten på 1990-talet och sysselsätter cirka 70 medarbetare. Connects erbjudande gör det möjligt för kunder att vända sig till en enda leverantör för problemfri IT, starkt knutet till ett nära och personligt engagemang från de tre delägarna och deras hängivna medarbetare. Känslan och handlingen har skapat ett snabbt växande Connect, och idag finns kontor i Göteborg, Stockholm, Malmö och Borås med levererans av produkter, lösningar och tjänster för cirka 150 miljoner per år.</font></p><br>
			<hr>
			<h2>Samgående mellan Office Depot och OfficeMax</h2>
			<p><font size="2" style="FONT-SIZE: 12px"><strong>Naperville, Ill. och Boca Raton, Fla, USA - den 20 februari 2013<br>
			Tidigare i dag meddelade Office Depot och OfficeMax att man undertecknat ett avtal om samgående som innebär en sammanslagning av två av våra branschens ledande varumärken för att skapa en starkare och effektivare global leverantör av kontorsprodukter, tjänster och lösningar.</strong><br>
			<br>
			Det sammanslagna bolaget kommer vara ännu bättre positionerat för att möta föränderliga behov hos kunder, blir en mer attraktiv partner till våra leverantörer samt öka aktieägarvärdet. Office Depot och OfficeMax är en utmärkt strategisk matchning; vi delar en liknande vision och kultur, vi kommer ha stor nytta av att vi har branschens mest begåvade medarbetare, vi kan kombinera det bästa från respektive bolag och förverkliga stora besparingar genom att arbeta som ett företag.<br>
			<br>
			Samgåendet förväntas slutföras i slutet av 2013 och under denna tid kommer ett antal viktiga beslut fattas. Styrelserna för de båda bolagen kommer att inleda rekrytering efter en VD för det sammanslagna bolaget.<br>
			<br>
			Neil Austrian kommer att förbli ordförande och VD för Office Depot och Ravi Saligram kvarstår som VD och koncernchef för OfficeMax . Ny ledningsgrupp kommer också att utses. Det sammanslagna bolagets namn, varumärken marknadsföring och huvudkontor plats förväntas fastställas efter utnämningen av en VD.<br></font></p>
			<p><font size="2" style="FONT-SIZE: 12px"><strong>För mer information:</strong><br>
			Margareta Le Calvé, VD Office Depot Svenska AB, Tel: 073 400 13 74</font></p>
			<p><a href="/Merger_Press_Release.pdf" target="_blank" type="object">Ladda hem pressmeddelandet i PDF-format</a></p><br>
			<hr>
			<h2>Margareta Le Calvé, ny VD för Office Depot Svenska AB</h2>
			<p><font size="2" style="FONT-SIZE: 12px"><strong>Pressmeddelande 2012-12-13<br>
			I början av januari tillträder Margareta Le Calvé som VD för Office Depot Svenska AB. Margareta efterträder Åke Norström som efter mer än 18 år i bolaget går till egen verksamhet.</strong></font></p>
			<img align="right" id="inline_image1" onclick="" src="/images/Margareta_small.jpg" style="HEIGHT: 150px; WIDTH: 109px; MARGIN: 0px 10px">
			<p><font size="2" style="FONT-SIZE: 12px">”Margareta har lång erfarenhet från ledande befattningar och nu senast från rollen som VD för EFG (European Furniture Group) i Sverige. Tidigare i sin karriär har hon bland annat jobbat som nordisk Försäljningsdirektör på British Telecom och som VD för Kinnarps i Frankrike. Med värdefull erfarenhet från strategisk försäljning och förändringsarbete har Margareta rätt bakgrund för att leda Office Depot i Sverige”, säger Steve Schmidt, President Office Depot International.</font></p>
			<p><font size="2" style="FONT-SIZE: 12px">”Jag är imponerad över hur Office Depot skapar anpassade lösningar utifrån varje kunds behov. Bredden i vårt erbjudande liksom vår service är avsevärda styrkor och jag ser fram emot att fortsätta att stärka och utveckla vår position i Sverige och Norden tillsammans med alla våra duktiga medarbetare”, säger Margareta Le Calvé.</font></p>
			<p><font size="2" style="FONT-SIZE: 12px"><strong>För mer information:</strong><br>
			Margareta Le Calvé, tillträdande VD Office Depot Svenska AB, Tel: 073 400 13 74<br>
			Anna Kalm, Marknadschef Office Depot Svenska AB, Tel: 070 980 61 02</font></p>
			<p><a href="/Pressmeddelande%20Office%20Depot_20121213.pdf" target="_blank" type="object">Ladda hem pressmeddelandet i PDF-format</a></p>
      
    </div>
	
	
</div>