<div class="productDetails row">
	<compontent src="/components/comp/productImage.html"></compontent>

	<compontent src="/components/comp/productInfo.html"></compontent>

	<compontent src="/Components/comp/specification.html"></compontent>
	<!--<compontent src="/components/comp/purchase-window.html"></compontent>-->


	<div id="orderstatus-modal" class="modal fade orderstatus-modal--js" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Lagersaldo i Butik</h4>
				</div>
				<div class="modal-body">
					<p>Klicka på butiksnamnet för att se adress och öppettider . Kontakta gärna butiken och reservera din vara.</p>
					<div class="row">
						<div class="col-lg-12">
							<div class="orderstatus-modal">
								<a>Webblager</a>
								<div>
									<span class="stock">100+ st</span>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="orderstatus-modal">
								<a>Falun</a>
								<div>
									<span class="backorder">Tillfälligt slut</span>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="orderstatus-modal">
								<a>Göteborg - Högsbo</a>
								<div>
									<span class="stock">100+ st</span>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="orderstatus-modal">
								<a>Göteborg - Mölndal</a>
								<div>
									<span class="stock">100+ st</span>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="orderstatus-modal">
								<a>Göteborg - Ringön</a>
								<div>
									<span class="stock">100+ st</span>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="orderstatus-modal">
								<a>Helsingborg</a>
								<div>
									<span class="stock">100+ st</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
				</div>
			</div>

		</div>
	</div>
</div>