<div class="product-ny bordered ">
	<div class="thumbnail  clearfix">
		<a href="/product-details.html" class="">
			<div class="thumbnail-inner">
				<span class="ribbon curr-campaign">Webb pris</span>
				<span class="miljoribbon"></span>
				<img class="group list-group-image" src="../images/pro.png" alt="">
			</div>
			<div class="caption">
				<div class="text-box">
					<div class="box-item-heading">
						<h4 class="group inner list-group-item-heading thumbnail-heading">Handduk Tork Premium H2 2310/k</h4>
					</div>
					<div class="box-description hidden-xs">
						<p class="group inner list-group-item-text"></p>
					</div>
				</div>
				<div class="group-box">
					<div class="box-item-price">
						<div class="basePrice">
							<span>892,00</span>
							<span class="currency">kr</span>
							<span class="uom">/kt</span>
						</div>
						<div class="price">
							<span>713,60</span>
							<span class="currency">kr</span><span class="uom">/kt</span>
							<br>
						</div>

					</div>
					<div class="button-group">
						<button href="/product-details.html" class="btn btn-buy" role="button">Visa 5 varianter</button>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
<div class="product-ny bordered ">
	<div class="thumbnail  clearfix">
		<a href="#" class="">
			<div class="thumbnail-inner">
				<span class="ribbon curr-campaign">Webb pris</span>
				<span class="miljoribbon"></span>
				<img class="group list-group-image" src="../images/pro.png" alt="">
			</div>
			<div class="caption">
				<div class="text-box">
					<div class="box-item-heading">
						<h4 class="group inner list-group-item-heading thumbnail-heading">Handduk Tork Premium H2 2310/k</h4>
					</div>
					<div class="box-description hidden-xs">
						<p class="group inner list-group-item-text"></p>
					</div>
				</div>
				<div class="group-box">
					<div class="box-item-price">
						<div class="basePrice changed">
							<span>892,00</span>
							<span class="currency">kr</span>
							<span class="uom">/kt</span>
						</div>
						<div class="price">
							<span>713,60</span>
							<span class="currency">kr</span><span class="uom">/kt</span>
							<br>
						</div>

					</div>
					<div class="button-group">
						<button href="/product-details.html" class="btn btn-buy" role="button">Visa 5 varianter</button>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
<div class="product-ny bordered ">
	<div class="thumbnail  clearfix">
		<a href="#" class="">
			<div class="thumbnail-inner">
				<span class="ribbon curr-campaign">Webb pris</span>
				<span class="miljoribbon"></span>
				<img class="group list-group-image" src="../images/pro.png" alt="">
			</div>
			<div class="caption">
				<div class="text-box">
					<div class="box-item-heading">
						<h4 class="group inner list-group-item-heading thumbnail-heading">Handduk Tork Premium H2 2310/k</h4>
					</div>
					<div class="box-description hidden-xs">
						<p class="group inner list-group-item-text"></p>
					</div>
				</div>
				<div class="group-box">
					<div class="box-item-price">
						<div class="basePrice">
							<span>892,00</span>
							<span class="currency">kr</span>
							<span class="uom">/kt</span>
						</div>
						<div class="price">
							<span>713,60</span>
							<span class="currency">kr</span><span class="uom">/kt</span>
							<br>
						</div>

					</div>
					<div class="button-group">
						<button href="/product-details.html" class="btn btn-buy" role="button">Visa 5 varianter</button>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>

