<div class="product-small">
	<div class="thumbnail padding-xs-5 clearfix">
		<div class="thumbnail-inner">
			<span class="ribbon curr-campaign">Webb pris</span>
			<span class="miljoribbon"></span>
			<img class="group list-group-image" src="../images/weblarge/1500.jpg" alt="">
		</div>
		<div class="caption">
			<div class="text-box">
				<div class="box-item-heading">
					<h4 class="group inner list-group-item-heading"><a id="kampanj-produkt-headline-0" href="../sortiment/handduk-tork-premium-h2-2310-k-2514114/" title="Handduk Tork Premium H2 2310/k">Handduk Tork Premium H2 2310/k</a></h4>
				</div>
				<div class="box-description hidden-xs">
					<p class="group inner list-group-item-text"></p>
				</div>
			</div>
			<div class="group-box">
				<div class="box-item-price">
					<div class="basePrice">
						<span>892,00</span>
						<span class="currency">kr</span>
						<span class="uom">/kt</span>
					</div>
					<div class="price">
						<span>713,60</span>
						<span class="currency">kr</span><span class="uom">/kt</span>
						<br>
					</div>
					
				</div>
				<div class="button-group">
					<a href="#" class="btn btn-buy" role="button">Visa 5 varianter</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="product-small">
	<div class="thumbnail padding-xs-5 clearfix">
		<div class="thumbnail-inner">
			<span class="ribbon curr-campaign">Webb pris</span>
			<span class="miljoribbon"></span>
			<img class="group list-group-image" src="../images/weblarge/1500.jpg" alt="">
		</div>
		<div class="caption">
			<div class="text-box">
				<div class="box-item-heading">
					<h4 class="group inner list-group-item-heading"><a id="kampanj-produkt-headline-0" href="../sortiment/handduk-tork-premium-h2-2310-k-2514114/" title="Handduk Tork Premium H2 2310/k">Handduk Tork Premium H2 2310/k</a></h4>
				</div>
				<div class="box-description hidden-xs">
					<p class="group inner list-group-item-text"></p>
				</div>
			</div>
			<div class="group-box">
				<div class="box-item-price">
					<div class="basePrice">
						<span>892,00</span>
						<span class="currency">kr</span>
						<span class="uom">/kt</span>
					</div>
					<div class="price">
						<span>713,60</span>
						<span class="currency">kr</span><span class="uom">/kt</span>
						<br>
					</div>
				</div>
				<div class="button-group">
					<a href="#" class="btn btn-buy" role="button">Köp</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="product-small">
	<div class="thumbnail padding-xs-5 clearfix">
		<div class="thumbnail-inner">
			<span class="ribbon curr-campaign">Webb pris</span>
			<span class="miljoribbon"></span>
			<img class="group list-group-image" src="../images/weblarge/1720.jpg" alt="">
		</div>
		<div class="caption">
			<div class="text-box">
				<div class="box-item-heading">
					<h4 class="group inner list-group-item-heading"><a id="kampanj-produkt-headline-0" href="../sortiment/handduk-tork-premium-h2-2310-k-2514114/" title="Handduk Tork Premium H2 2310/k">Handduk Tork Premium H2 2310/k</a></h4>
				</div>
				<div class="box-description hidden-xs">
					<p class="group inner list-group-item-text"></p>
				</div>
			</div>
			<div class="group-box">
				<div class="box-item-price">
					<div class="basePrice">
						<span>892,00</span>
						<span class="currency">kr</span>
						<span class="uom">/kt</span>
					</div>
					<div class="price">
						<span>713,60</span>
						<span class="currency">kr</span><span class="uom">/kt</span>
						<br>
					</div>
				</div>
				<div class="button-group">
					<a href="#" class="btn btn-buy" role="button">Visa 5 varianter</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="product-small">
	<div class="thumbnail padding-xs-5 clearfix">
		<div class="thumbnail-inner">
			<span class="ribbon curr-campaign">Webb pris</span>
			<span class="miljoribbon"></span>
			<img class="group list-group-image" src="../images/weblarge/1720.jpg" alt="">
		</div>
		<div class="caption">
			<div class="text-box">
				<div class="box-item-heading">
					<h4 class="group inner list-group-item-heading"><a id="kampanj-produkt-headline-0" href="../sortiment/handduk-tork-premium-h2-2310-k-2514114/" title="Handduk Tork Premium H2 2310/k">Handduk Tork Premium H2 2310/k</a></h4>
				</div>
				<div class="box-description hidden-xs">
					<p class="group inner list-group-item-text"></p>
				</div>
			</div>
			<div class="group-box">
				<div class="box-item-price">
					<div class="basePrice">
						<span>892,00</span>
						<span class="currency">kr</span>
						<span class="uom">/kt</span>
					</div>
					<div class="price">
						<span>713,60</span>
						<span class="currency">kr</span><span class="uom">/kt</span>
						<br>
					</div>
				</div>
				<div class="button-group">
					<a href="#" class="btn btn-buy" role="button">Köp</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="product-small">
	<div class="thumbnail padding-xs-5 clearfix">
		<div class="thumbnail-inner">
			<span class="ribbon curr-campaign">Webb pris</span>
			<span class="miljoribbon"></span>
			<img class="group list-group-image" src="../images/weblarge/1720.jpg" alt="">
		</div>
		<div class="caption">
			<div class="text-box">
				<div class="box-item-heading">
					<h4 class="group inner list-group-item-heading"><a id="kampanj-produkt-headline-0" href="../sortiment/handduk-tork-premium-h2-2310-k-2514114/" title="Handduk Tork Premium H2 2310/k">Handduk Tork Premium H2 2310/k</a></h4>
				</div>
				<div class="box-description hidden-xs">
					<p class="group inner list-group-item-text"></p>
				</div>
			</div>
			<div class="group-box">
				<div class="box-item-price">
					<div class="basePrice">
						<span>892,00</span>
						<span class="currency">kr</span>
						<span class="uom">/kt</span>
					</div>
					<div class="price">
						<span>713,60</span>
						<span class="currency">kr</span><span class="uom">/kt</span>
						<br>
					</div>
				</div>
				<div class="button-group">
					<a href="#" class="btn btn-buy" role="button">Visa 5 varianter</a>
				</div>
			</div>
		</div>
	</div>
</div>