<!--<div class="items-list-variations">
	<div class="row">
		<div class="col-md-12">
			<div class="row hidden-xs hidden-sm">
				<div class="col-md-4"><h4>Produkt variant</h4></div>
				<div class="col-md-2"><h4>typ</h4></div>
				<div class="col-md-2"><h4>Antal i fp</h4></div>
				<div class="col-md-2"><h4>Pris</h4></div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="items-wraper">
				<div class="clearfix items-item">
					<div class="col-md-4 col-xs-12">
						<div class="row">
							<div class="col-xs-12 col-md-4">
								<div class="cart-image-box">
									<img alt="Plankalender två veckors"  src="/images/webthumbnail/6081360.jpg" >
								</div>
							</div>
							<div class="col-xs-12 col-md-8 text-xs-center  text-md-left">
								<h4>
									<a href="">Plankalender två veckors</a>
								</h4>
								<div class="full-width hidden-xs hidden-sm">
									<span>
										Artikelnummer: 6081360
									</span>
									<span>I lager</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-xs-12 text-xs-center  text-md-left hidden-xs hidden-sm">
						<h4>
							<span class="cart-item-lable hidden-md hidden-lg">
								Egen märkning:
							</span>
							<span>typ-1</span>
						</h4>
					</div>
					<div class="col-md-2 col-xs-12 text-xs-center  text-md-left">
						<h4 class="amount">
							<span class="cart-item-lable hidden-md hidden-lg">
								Antal:
							</span>
							<span >200</span>
						</h4>
						</div>
					<div class="col-md-2 col-xs-12 text-xs-center  text-md-left">
						<h4 class="price">
							<span class="cart-item-lable hidden-md hidden-lg">
								Pris:
							</span>
							<span >10067</span>
						</h4>
					</div>
					<div class="col-md-2 col-xs-12 text-xs-center  text-md-left">
						<h4 class="sum">
							<button class="btn btn-buy">Lägg i varukorg</button>
						</h4>
					</div>
				</div>
			
				<div class="clearfix items-item">
					<div class="col-md-4 col-xs-12">
						<div class="row">
							<div class="col-xs-12 col-md-4">
								<div class="cart-image-box">
									<img alt="Plankalender två veckors"  src="/images/webthumbnail/6081360.jpg" >
								</div>
							</div>
							<div class="col-xs-12 col-md-8 text-xs-center  text-md-left">
								<h4>
									<a href="">Plankalender två veckors</a>
								</h4>
								<div class="full-width hidden-xs hidden-sm">
									<span>
										Artikelnummer: 6081360
									</span>
									<span>I lager</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-xs-12 text-xs-center  text-md-left hidden-xs hidden-sm">
						<h4>
							<span class="cart-item-lable hidden-md hidden-lg">
								Egen märkning:
							</span>
							<span>typ-2</span>
						</h4>
					</div>
					<div class="col-md-2 col-xs-12 text-xs-center  text-md-left">
						<h4 class="amount">
							<span class="cart-item-lable hidden-md hidden-lg">
								Antal:
							</span>
							<span >100</span>
						</h4>
						</div>
					<div class="col-md-2 col-xs-12 text-xs-center  text-md-left">
						<h4 class="price">
							<span class="cart-item-lable hidden-md hidden-lg">
								Pris:
							</span>
							<span >10067</span>
						</h4>
					</div>
					<div class="col-md-2 col-xs-12 text-xs-center  text-md-left">
						<h4 class="sum">
							<button class="btn btn-buy">Lägg i varukorg</button>
						</h4>
					</div>
				</div>
				
				<div class="clearfix items-item">
					<div class="col-md-4 col-xs-12">
						<div class="row">
							<div class="col-xs-12 col-md-4">
								<div class="cart-image-box">
									<img alt="Plankalender två veckors"  src="/images/webthumbnail/6081360.jpg" >
								</div>
							</div>
							<div class="col-xs-12 col-md-8 text-xs-center  text-md-left">
								<h4>
									<a href="">Plankalender två veckors</a>
								</h4>
								<div class="full-width hidden-xs hidden-sm">
									<span>
										Artikelnummer: 6081360
									</span>
									<span>I lager</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-xs-12 text-xs-center  text-md-left hidden-xs hidden-sm">
						<h4>
							<span class="cart-item-lable hidden-md hidden-lg">
								Egen märkning:
							</span>
							<span>typ-3</span>
						</h4>
					</div>
					<div class="col-md-2 col-xs-12 text-xs-center  text-md-left">
						<h4 class="amount">
							<span class="cart-item-lable hidden-md hidden-lg">
								Antal:
							</span>
							<span >100</span>
						</h4>
						</div>
					<div class="col-md-2 col-xs-12 text-xs-center  text-md-left">
						<h4 class="price">
							<span class="cart-item-lable hidden-md hidden-lg">
								Pris:
							</span>
							<span >10067</span>
						</h4>
					</div>
					<div class="col-md-2 col-xs-12 text-xs-center  text-md-left">
						<h4 class="sum">
							<button class="btn btn-buy">Lägg i varukorg</button>
						</h4>
					</div>
				</div>
			
			</div>
		</div>
	</div>
</div>-->

<div class="customer-cart clearfix product-details">
	<div class="col-sm-12 customer-cart-list no-padding" path="/Components/comp/checkout-items-list-cart.html">
		<table id="cart" class="table table-hover table-condensed">
			<thead>
				<tr>
					<th style="width:29%">Produktvarianter</th>
					<th style="width:8%">Antal i fp</th>
					<th style="width:5%">Typ</th>
					<th style="width:8%">Volym</th>
					<th style="width:7%">Miljöinfo</th>
					<th style="width:13%">Lagerstatus</th>
					<th style="width:11%" class="text-xs-left">Pris </th>
					<th style="width:19%" class="text-sm-right text-xs-left"></th>
				</tr>
			</thead>
			<tbody class="staffled-body">
				<tr class="productItemBox productItemBox--js">

					<td data-th="" id="product-table-data" onclick="window.location = '/ecommerce/control/product/~category_id=2488/~product_id=2580559';">
						<div class="clearfix">
							<div class="col-sm-4 hidden-xs variant-img">
								<span>
									<img src="http://placehold.it/100x100" alt="..." class="img-responsive">
								</span>
							</div>
							<div class="col-sm-8 cart-item--title no-padding">
								<h2 class="nomargin"><a>Papper Data copy Everyday Printing A3 Test test</a></h2>
								<p>Artikelnummer: 1833513</p>
								<a data-toggle="collapse" data-target=".productid1" class="visible-xs-inline-block show-variants-xs" href="javascript:void(0)">Visa mer</a>
							</div>
						</div>
					</td>
					<td data-th="Antal i fp" class="collapse collapsexs productid1" onclick="window.location = '/ecommerce/control/product/~category_id=2488/~product_id=2580559';">
						<h5>500</h5>
					</td>

					<td data-th="Typ" class="collapse collapsexs productid1" onclick="window.location = '/ecommerce/control/product/~category_id=2488/~product_id=2580559';">
						<h5>Ekologisk Test</h5>
					</td>

					<td data-th="Volym" class="collapse collapsexs productid1" onclick="window.location = '/ecommerce/control/product/~category_id=2488/~product_id=2580559';">
						<h5>20 cl</h5>
					</td>

					<td data-th="Miljöinfo" class="collapse collapsexs productid1" onclick="window.location = '/ecommerce/control/product/~category_id=2488/~product_id=2580559';">
						<h5>Kravmarkerad</h5>
					</td>

					<td data-th="Lager status" class="collapse collapsexs productid1" onclick="window.location = '/ecommerce/control/product/~category_id=2488/~product_id=2580559';">
						<i class="fa fa-square" style="color: green;" aria-hidden="true"></i>100st +
					</td>

					<td data-th="Pris" class="text-xs-left" onclick="window.location = '/ecommerce/control/product/~category_id=2488/~product_id=2580559';">
						<h2>39,20 kr/pkt</h2>
						<p>136,00 kr/pkt</p>
					</td>


					<td data-th="" class="text-sm-right text-xs-left full-width;">
						<div class="input-group">
							<input autocomplete="off" class="form-control no-spin" placeholder="1" type="number">
							<span class="input-group-btn product-input" style="width: 70%;">
								<button class="btn btn-green" style="width: 100%;" type="submit">Lägg i varukorgen</button>
								</span>
						</div>
						<p class="table-staffledPrice" rel="popover">Mängdrabatt</p>
						<div class="popover_staffled_wrapper" style="display: none">
							<div class="staffledPrice">
								<ul style="border: none;">
									<li>
										<span class="staffledPrice--quantity">1-7&nbsp;st:&nbsp;</span><span class="staffledPrice--price">236,00 kr/st</span>
									</li>
									<li>
										<span class="staffledPrice--quantity">8-15&nbsp;st:&nbsp;</span><span class="staffledPrice--price">200,60 kr/st</span>
									</li>
									<li>
										<span class="staffledPrice--quantity">16&nbsp;st&nbsp;+&nbsp;:&nbsp;</span><span class="staffledPrice--price">175,60 kr/st</span>
									</li>
									<li>
										<span class="staffledPrice--quantity">16&nbsp;st&nbsp;+&nbsp;:&nbsp;</span><span class="staffledPrice--price">175,60 kr/st</span>
									</li>
								</ul>
							</div>
						</div>
					</td>


				</tr>
				<tr class="productItemBox productItemBox--js">

					<td data-th="" id="product-table-data" onclick="window.location = '/ecommerce/control/product/~category_id=2488/~product_id=2580559';">
						<div class="clearfix">
							<div class="col-sm-4 hidden-xs variant-img">
								<span>
									<img src="http://placehold.it/100x100" alt="..." class="img-responsive">
								</span>
							</div>
							<div class="col-sm-8 cart-item--title no-padding">
								<h2 class="nomargin"><a>Papper Data copy Everyday Printing A3 Test test</a></h2>
								<p>Artikelnummer: 1833513</p>
								<a data-toggle="collapse" data-target=".productid2" class="visible-xs-inline-block show-variants-xs" href="javascript:void(0)">Visa mer</a>
							</div>
						</div>
					</td>
					<td data-th="Antal i fp" class="collapse collapsexs productid2" onclick="window.location = '/ecommerce/control/product/~category_id=2488/~product_id=2580559';">
						<h5>500</h5>
					</td>

					<td data-th="Typ" class="collapse collapsexs productid2" onclick="window.location = '/ecommerce/control/product/~category_id=2488/~product_id=2580559';">
						<h5>Ekologisk Test</h5>
					</td>

					<td data-th="Volym" class="collapse collapsexs productid2" onclick="window.location = '/ecommerce/control/product/~category_id=2488/~product_id=2580559';">
						<h5>20 cl</h5>
					</td>

					<td data-th="Miljöinfo" class="collapse collapsexs productid2" onclick="window.location = '/ecommerce/control/product/~category_id=2488/~product_id=2580559';">
						<h5>Kravmarkerad</h5>
					</td>

					<td data-th="Lager status" class="collapse collapsexs productid2" onclick="window.location = '/ecommerce/control/product/~category_id=2488/~product_id=2580559';">
						<i class="fa fa-square" style="color: green;" aria-hidden="true"></i>100st +
					</td>

					<td data-th="Pris" class="text-xs-left" onclick="window.location = '/ecommerce/control/product/~category_id=2488/~product_id=2580559';">
						<h2>39,20 kr/pkt</h2>
						<p>136,00 kr/pkt</p>
					</td>


					<td data-th="" class="text-sm-right text-xs-left full-width;">
						<div class="input-group">
							<input autocomplete="off" class="form-control no-spin" placeholder="1" type="number">
							<span class="input-group-btn product-input" style="width: 70%;">
								<button class="btn btn-green" style="width: 100%;" type="submit">Lägg i varukorgen</button>
								</span>
						</div>
						<p class="table-staffledPrice" rel="popover">Mängdrabatt</p>
						<div class="popover_staffled_wrapper" style="display: none">
							<div class="staffledPrice">
								<ul style="border: none;">
									<li>
										<span class="staffledPrice--quantity">1-7&nbsp;st:&nbsp;</span><span class="staffledPrice--price">236,00 kr/st</span>
									</li>
									<li>
										<span class="staffledPrice--quantity">8-15&nbsp;st:&nbsp;</span><span class="staffledPrice--price">200,60 kr/st</span>
									</li>
									<li>
										<span class="staffledPrice--quantity">16&nbsp;st&nbsp;+&nbsp;:&nbsp;</span><span class="staffledPrice--price">175,60 kr/st</span>
									</li>
									<li>
										<span class="staffledPrice--quantity">16&nbsp;st&nbsp;+&nbsp;:&nbsp;</span><span class="staffledPrice--price">175,60 kr/st</span>
									</li>
								</ul>
							</div>
						</div>
					</td>


				</tr>
				<tr class="productItemBox productItemBox--js">

					<td data-th="" id="product-table-data">
						<div class="clearfix">
							<div class="col-sm-4 hidden-xs variant-img">
								<span>
									<img src="http://placehold.it/100x100" alt="..." class="img-responsive">
								</span>
							</div>
							<div class="col-sm-8 cart-item--title no-padding">
								<h2 class="nomargin"><a>Papper Data copy Everyday Printing A3 Test test</a></h2>
								<p>Artikelnummer: 1833513</p>
								<a data-toggle="collapse" data-target=".productid3" class="visible-xs-inline-block show-variants-xs" href="javascript:void(0)">Visa mer</a>
							</div>
						</div>
					</td>
					<td data-th="Antal i fp" class="collapse collapsexs productid3">
						<h5>500</h5>
					</td>

					<td data-th="Typ" class="collapse collapsexs productid3">
						<h5>Ekologisk Test</h5>
					</td>

					<td data-th="Volym" class="collapse collapsexs productid3">
						<h5>20 cl</h5>
					</td>

					<td data-th="Miljöinfo" class="collapse collapsexs productid3">
						<h5>Kravmarkerad</h5>
					</td>

					<td data-th="Lager status" class="collapse collapsexs productid3">
						<i class="fa fa-square" style="color: green;" aria-hidden="true"></i>100st +
					</td>

					<td data-th="Pris" class="text-xs-left">
						<h2>39,20 kr/pkt</h2>
						<p>136,00 kr/pkt</p>
					</td>


					<td data-th="" class="text-sm-right text-xs-left full-width;">
						<div class="input-group">
							<input autocomplete="off" class="form-control no-spin" placeholder="1" type="number">
							<span class="input-group-btn product-input" style="width: 70%;">
								<button class="btn btn-green" style="width: 100%;" type="submit">Lägg i varukorgen</button>
								</span>
						</div>
						<p id="staffled" class="table-staffledPrice" rel="popover">Mängdrabatt</p>
						<div class="popover_staffled_wrapper" style="display: none">
							<div class="staffledPrice">
								<ul style="border: none;">
									<li>
										<span class="staffledPrice--quantity">1-7&nbsp;st:&nbsp;</span><span class="staffledPrice--price">236,00 kr/st</span>
									</li>
									<li>
										<span class="staffledPrice--quantity">8-15&nbsp;st:&nbsp;</span><span class="staffledPrice--price">200,60 kr/st</span>
									</li>
									<li>
										<span class="staffledPrice--quantity">16&nbsp;st&nbsp;+&nbsp;:&nbsp;</span><span class="staffledPrice--price">175,60 kr/st</span>
									</li>
									<li>
										<span class="staffledPrice--quantity">16&nbsp;st&nbsp;+&nbsp;:&nbsp;</span><span class="staffledPrice--price">175,60 kr/st</span>
									</li>
								</ul>
							</div>
						</div>
					</td>


				</tr>
			</tbody>
		</table>
	</div>
</div>

<script>
	$(document).ready(function () {
		if ($(window).width() >= 735) {
			$(".collapsexs").removeClass("collapse");
		}

		$('.table-staffledPrice').popover({
			html: true,
			placement: 'bottom',
			trigger: 'hover',
			content: function () {
				return $(this).next('.popover_staffled_wrapper').html();
			}
		});
	});

</script>