<div class="purchase-window col-lg-3 col-md-12 col-sm-12">
	<div class="box-blue full-width clearfix">
			<div class="col-lg-12 col-md-4">
				<div class="productName cf">
					Papper OD Everyday A4 5x500/kt
				</div>
				<div class="cf">
					Artikelnummer: 1049800
				</div>
				<div class="stockTextBox cf">
					<span class="stockText">Leveranstid: </span>


					<div>
						<div id="div-stock-description2017_03_21_17_29_23_011049800" class="div-stock-description"></div>
						<div id="div-stock-icons" class="div-stock-icons">
							<span>1-2 vardagar</span>
						</div>
					</div>

					<span class="stockText">Lagerstatus: </span>


					<div>
						<div id="div-stock-description2017_03_21_17_29_23_0171049800" class="div-stock-description"></div>
						<div id="div-stock-icons" class="div-stock-icons">
							<span class="stock nocursor">100+ st</span>
						</div>
					</div>

				</div>
			</div>

			<div class="col-lg-12 col-md-4">
					<div class="priceType box-blue--tag full-width" title="Priset gäller endast på webben!">Webbpris:</div>
					<div class="price-row full-width clearfix">
						<div class="col-sm-6 col-xs-6  price-row--tag nopadding">
							1 st: 
						</div>
						<div  class="col-sm-6  col-xs-6  price-row--price nopadding">
							128,00 kr/st
						</div>
					
					</div>
			</div>

			<div class="purchase-permission col-lg-12 col-md-4">
				<div class="form-area full-width text-right  box-blue--line">
					<span  class="box-blue--tag">Antal :</span>
					<input name="quantity_1049800" id="quantity_1049800" type="text"
						value="1" onblur="checkAntal(this, 1, true)" class="quantity input-field box-blue--amount" maxlength="5">
				</div>
				<div class="full-width text-right  box-blue--line">
					<a href="" oncdivck="javascript:addItem('1049800', jQuery('#quantity_1049800')[0].value, jQuery('#comments_1049800')[0].value,jQuery(this));return false;"
						class="greenBtn btn btn-buy" title="">Lägg i varukorg</a>
				</div>
				<div class="full-width text-right box-blue--line">
					<div class="item-user-comment">
						<a class="dropdown2 commentIcon" href="#" oncdivck="showLagerstatusButik('1049800');return false;"
							rel="nofollow" id="check-retail-stock">Se lagerstatus i butik</a>
					</div>
				</div>
				<div class="full-width  text-right box-blue--line">
					<div class="item-user-comment" style="position:relative;">
						<a href="#" class="dropdown2 commentIcon" title="Ange orderradskommentar">Ange orderradskommentar</a>
						<div class="dropdown-menu cf" style="text-adivgn: left;">
							<div>
								<label>Ange orderradsmärkning:</label>
								<input type="text" name="comments_1049800" id="comments_1049800" value="" class="articleComment input-field" maxlength="30">

								<a class="redBtn" oncdivck="jQuery('.dropdown-menu').hide();return false;">Spara</a>
							</div>
						</div>
					</div>
				</div>
			</div>

	</div>
</div>
