<div class="component-richtext">
    <div class="hero-image">
        <img src="images/saker_ehandel.jpg" origWidth="958" origHeight="163">
    </div>
	<div class="row">
		<div class="col-lg-12">
			<h2>Säkerhet &amp; sekretess</h2>
			<p>
				<font style="FONT-SIZE: 12px" size="2">Du kan alltid känna dig trygg när du handlar hos Office Depot. Vi får använda oss av Trygg E-handelssymbolen,
					<br>som visar att vi är medlem i och följer Trygg E-handels krav för en trygg och säker E-handelsplats. </font>
			</p>
			<p>
				<font style="FONT-SIZE: 12px" size="2">Syftet med Trygg E-handel är att skapa tydligare och enklare riktlinjer för vad som gäller vid e-handel - både
					för dig som <br>konsument och för oss som säljande företag. Trygg E-handel administreras av Svensk distanshandel,
					som med jämna mellanrum kontrollerar sina medlemmar för att garantera att alla lever upp till Trygg E-handels
					krav. Ett av kraven från Trygg E-handel är att medlemsföretaget kan tillhandahålla säkra betalningslösningar
					som krypterar känslig <br>information om&nbsp;köparens kortuppgifter vid transaktionstillfället samt ha säkerställda
					rutiner för hur företaget hanterar konsumentens kort- och personuppgifter efter transaktionen.</font><br>
				<a
					href="http://www.tryggehandel.se/butik/415" type="link" target="_blank" internal=""><img src="images/e-handel_footer.png" origwidth="227" origheight="44"></a>&nbsp;
					<br><em><font style="FONT-SIZE: 12px" size="2">Klicka på bilden för att verifiera intyget hos tryggehandel.se</font></em></p>
			<h3>Personuppgifter</h3>
			<p>
				<font style="FONT-SIZE: 12px" size="2">Vi följer den svenska personuppgiftslagen. Den håller en hög nivå för att ge individen skydd om hur personuppgifter
					lagras. Enligt denna lag måste vi be dig samtycka till att vi behandlar och sparar uppgifter om dig i vår
					databas. Genom köp hos Office Depot bekräftar du detta samtycke. Alla personuppgifter som du lämnar till
					oss eller som vi får del av när du genomför ett köp kommer att behandlas av Office Depot i egenskap av person-
					uppgiftsansvarig. Informationen kommer att användas i syfte att vi vid köp skall kunna fullgöra våra åtaganden
					gentemot dig samt i kommunikationen mellan Office Depot och kund.</font>
			</p>
			<h3>Kortbetalningar</h3>
			<p>
				<font style="FONT-SIZE: 12px" size="2">Du kan alltid känna dig trygg i att handla med kort utställda av VISA eller MasterCard på Svanströmsgruppens
					webbplatser. Vi samarbetar med Nets (F.d. Auriga ePayment). Nets uppfyller marknadens samt våra egna villkor
					för säkra <br>internetbetalningar genom att erbjuda beprövade och säkra betallösningar för Internet. Med
					certifieringar som PCI-DSS <br>(Payment Card Industry Data Security Standard), 3D-secure samt ett eget framtagna
					koncept för Anti-Fraud garanterar vi säkra betallösningar.</font>
			</p>
			<p>
				<font style="FONT-SIZE: 12px" size="2">När du betalar med kort skickas du vidare till en säker sida med SSL-certifikat hos Nets, där du tryggt fyller
					i dina kortuppgifter och genomför betalningen. När betalningen har godkänts skickas du tillbaka till&nbsp;Office
					Depots&nbsp;webbplats där du får en bekräftelse på att ditt köp är genomfört. Vi sparar av säkerhetsskäl
					aldrig dina kortuppgifter hos Office Depot.</font>
			</p>


		</div>
	</div>
</div>