<ul class="search-result-list">
	<li class="search-result--item clearfix">
			<a href="/product-details.html" class="col-md-2">
				<div class="search-result--img">
					<img alt="Bild" src="/images/weblarge/1500.jpg" title="Färgband Sp8 svart/röd nylon Pelikan">
				</div>
			</a>
			
			<div class="item-list-info col-md-6  text-md-left text-sm-center">
				<h4>
					<a href="">Karbonrulle Brother PC71RF</a>
				</h4>
				<span class="product-id">Artikelnummer: <em>2234608</em></span> 
				<span class="product-id">Originalnummer: <em>PC71RF</em></span>
				<div>Passar Brother Fax T74/76/84/86/94/104/106</div>
			</div>
			<div class="item-list-buy col-md-4 nopadding  text-md-left text-sm-center">
				<div class="row">
					<div class="col-md-8 nopadding">
						<div class="full-width search-item-pricing-group" >
							<div class="col-md-6 ">
								<div class="clearfix box-margin-top-5">
									<div class="from-price col-md-10  col-xs-10 nopadding">Från: 188.00</div>
									<div class="currency col-md-1 col-xs-1 nopadding">kr</div>
									<div class="uom col-md-1 col-xs-1 nopadding">/st</div>
								</div>
							</div>
							
							<div class="col-md-6 clearfix">
								<div class="row">
									<div class="col-xs-11 nopadding-right">
									<input class="quantity" value="1"> 
									</div>
									<div class="col-xs-1 nopadding box-margin-top-5">/st</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="search-item-pricing-group-btn greenBtn btn btn-buy btn-block btn-large nopadding">
							<div class="row">
								<div class="col-xs-6 nopadding">
									<i class="fa fa-shopping-cart fa-2x box-padding-10 search-item-btn-cart ">
									
									</i>
								</div>
								<div class="col-xs-6 search-item-btn-text " onclick="">
									<div class="search-item-btn-text--inside box-padding-10">
										Köp
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
	</li>
	<li class="search-result--item clearfix">
			<a href="/product-details.html" class="col-md-2">
				<div class="search-result--img">
					<img alt="Bild" src="/images/weblarge/1500.jpg" title="Färgband Sp8 svart/röd nylon Pelikan">
				</div>
			</a>
			
			<div class="item-list-info col-md-6  text-md-left text-sm-center">
				<h4>
					<a href="">Karbonrulle Brother PC71RF</a>
				</h4>
				<span class="product-id">Artikelnummer: <em>2234608</em></span> 
				<span class="product-id">Originalnummer: <em>PC71RF</em></span>
				<div>Passar Brother Fax T74/76/84/86/94/104/106</div>
			</div>
			<div class="item-list-buy col-md-4 nopadding  text-md-left text-sm-center">
				<div class="row">
					<div class="col-md-8 nopadding">
						<div class="full-width search-item-pricing-group" >
							<div class="col-md-6 ">
								<div class="clearfix box-margin-top-5">
									<div class="from-price col-md-10  col-xs-10 nopadding">Från: 188.00</div>
									<div class="currency col-md-1 col-xs-1 nopadding">kr</div>
									<div class="uom col-md-1 col-xs-1 nopadding">/st</div>
								</div>
							</div>
							
							<div class="col-md-6 clearfix">
								<div class="row">
									<div class="col-xs-11 nopadding-right">
									<input class="quantity" value="1"> 
									</div>
									<div class="col-xs-1 nopadding box-margin-top-5">/st</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="search-item-pricing-group-btn greenBtn btn btn-buy btn-block btn-large nopadding">
							<div class="row">
								<div class="col-xs-6 nopadding">
									<i class="fa fa-shopping-cart fa-2x box-padding-10 search-item-btn-cart ">
									
									</i>
								</div>
								<div class="col-xs-6 search-item-btn-text " onclick="">
									<div class="search-item-btn-text--inside box-padding-10">
										Köp
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
	</li>
	<li class="search-result--item clearfix">
			<a href="/product-details.html" class="col-md-2">
				<div class="search-result--img">
					<img alt="Bild" src="/images/weblarge/1500.jpg" title="Färgband Sp8 svart/röd nylon Pelikan">
				</div>
			</a>
			
			<div class="item-list-info col-md-6  text-md-left text-sm-center">
				<h4>
					<a href="">Karbonrulle Brother PC71RF</a>
				</h4>
				<span class="product-id">Artikelnummer: <em>2234608</em></span> 
				<span class="product-id">Originalnummer: <em>PC71RF</em></span>
				<div>Passar Brother Fax T74/76/84/86/94/104/106</div>
			</div>
			<div class="item-list-buy col-md-4 nopadding  text-md-left text-sm-center">
				<div class="row">
					<div class="col-md-8 nopadding">
						<div class="full-width search-item-pricing-group" >
							<div class="col-md-6 ">
								<div class="clearfix box-margin-top-5">
									<div class="from-price col-md-10  col-xs-10 nopadding">Från: 188.00</div>
									<div class="currency col-md-1 col-xs-1 nopadding">kr</div>
									<div class="uom col-md-1 col-xs-1 nopadding">/st</div>
								</div>
							</div>
							
							<div class="col-md-6 clearfix">
								<div class="row">
									<div class="col-xs-11 nopadding-right">
									<input class="quantity" value="1"> 
									</div>
									<div class="col-xs-1 nopadding box-margin-top-5">/st</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="search-item-pricing-group-btn greenBtn btn btn-buy btn-block btn-large nopadding">
							<div class="row">
								<div class="col-xs-6 nopadding">
									<i class="fa fa-shopping-cart fa-2x box-padding-10 search-item-btn-cart ">
									
									</i>
								</div>
								<div class="col-xs-6 search-item-btn-text " onclick="">
									<div class="search-item-btn-text--inside box-padding-10">
										Köp
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
	</li>
</ul>
		