<ul class="search-result-list">
		<li class="search-result--item">
		   <h4>
		   <a > Allied Comp Systems&nbsp;1788 </a>
			</h4>              
			<span class="product-id"> Typ: Matrisskrivare </span>  
		</li>
		
		<li class="search-result--item">
		   <h4>
		   <a > Allied Comp Systems&nbsp;1788 </a>
			</h4>              
			<span class="product-id"> Typ: Matrisskrivare </span>  
		</li>

		<li class="search-result--item">
		   <h4>
		   <a > Allied Comp Systems&nbsp;1788 </a>
			</h4>              
			<span class="product-id"> Typ: Matrisskrivare </span>  
		</li>
		
		<li class="search-result--item">
		   <h4>
		   <a > Allied Comp Systems&nbsp;1788 </a>
			</h4>              
			<span class="product-id"> Typ: Matrisskrivare </span>  
		</li>

</ul>