<div class="full-width">
	<div class="search-suggestions">
		<div class="search-sugestion">
		<h4>
			din sökning på <b> penna</b> gave 276 träff(ar)
		</h4>
		</div>
		<div class="search-suggestion">
			<span>
				Liknande:
			<span>
			<a class="" href="">Pennor</a>
			<a class="" href="">Pennor  bläck</a>
			<a class="" href="">Bic pennor</a>
			<a class="" href="">item4</a>
		</div>
				<div class="search-suggestion">
			<span>
				Kategori:
			<span>
			<a class="" href="">Pennor</a>
			<a class="" href="">Bläckpennor</a>
			<a class="" href="">Gelpennor</a>
			<a class="" href="">Kategori4</a>
		</div>
	</div>
	
</div>