<div id="row">

	<div class="col-xs-6">
		<h3>Behöver du hjälp?</h3>
		<p>Ring gratis på 020-560 560 eller e-posta till <br> <a href="mailto:se-order@officedepot.com">se-order@officedepot.com</a></p>
		<ul style="list-style: disc;margin-left: 15px;">
			<li><a href="/betalning.html">Betalning »</a> </li>
			<li><a href="/forsaljningsvillkor.html">Försäljningsvillkor »</a> </li>
		</ul>
	</div>

	<div class="col-xs-6">
		<h3>Handla tryggt med oss</h3>
		<p>Du kan alltid känna dig trygg när du handlar hos Office Depot. Vi är medlem i Trygg E-handel och följer Trygg E-handels krav för en trygg och säker E-handelsplats.</p>
		<img title="Denna butik är certifierad av Trygg E-handel!" border="0" src="/images/teh_liggande_200.jpg" >
	</div>
</div>