<div id="full-width">
	<h3>Kundvagn</h3>
	<div class="row">
		<div class="">
			<div class="col-md-12">
				
				<form action="" class="add-favo-item form-area" id="createCartForm_top" name="createCartForm_top" style="display:none;">
					<input class="short-input" maxlength="30" name="listName" size="15" type="text" value="Ny favoritlista">
					<input class="short-input" name="shoppingListType" type="hidden" value="SLT_FREQ_PURCHASES"> 
					<a class="redBtn" href=""  title="">Skapa</a>
				</form>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
						<div class="btn-group padding-xs-20">
							<a class="btn btn-buy" href="#" title="">Till kassan</a>
							<a class="btn btn-default"  href="">Skriv ut</a>
					</div>
			</div>
		
			<div class="items-list-cart">
				<div class="row">
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-4">Produkt</div>
							<div class="col-xs-2">Egen märkning</div>
							<div class="col-xs-2">Antal</div>
							<div class="col-xs-2">Pris</div>
							<div class="col-xs-2">Summa</div>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="items-wraper">
							<div class="row">
								<div class="col-xs-4">
									<div class="row">
										<div class="col-xs-6">
											<div class="img">
												<img alt="Plankalender två veckors"  src="/images/webthumbnail/6081360.jpg" >
											</div>
										</div>
										<div class="col-xs-6">
											<h4>
												<a href="">Plankalender två veckors</a>
											</h4>
											<div>
												Artikelnummer: 6081360
											</div>
											<span class="stock">I lager</span>
										</div>
									</div>
								</div>
								<div class="col-xs-2">Egen märkning</div>
								<div class="col-xs-2">Antal</div>
								<div class="col-xs-2">Pris</div>
								<div class="col-xs-2">Summa</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
					<div class="col-md-6">
						<div class="form-area">
							<h4>Kampanjkod</h4>
							<p>Ange eventuell kampanjkod (max en kod/beställning).</p>
							<form action="">
								<div class="input-group">
									<input type="text" class="form-control">
								</div>
								<a class="btn btn-default">Aktivera</a>
							</form>
						</div>
					</div>
					<div class="col-md-6">
						<ul class="checkout-total">
							<li><span class="">Summa</span> <span class="">0,00 kr</span></li>
							<li><span class="">Frakt</span> <span class="" id="displayFreightValue">0,00 kr</span></li>
							<li><span class="floatLeft">Tilläggstjänster</span> <span class="" id="displayExtraServicesValue">0,00 kr</span></li>
							<li><span class="floatLeft">Totalt exkl. moms</span> <span class="" id="displayAmount">0,00 kr</span></li>
							<li><span class="floatLeft">Moms</span> <span class="" id="displayTotalVAT">0,00 kr</span></li>
							<li><span class="floatLeft">Totalt inkl. moms</span> <span class="" id="displayTotalAmount">0,00 kr</span></li>
						</ul>
					</div>
			</div>
			<div class="row">
					<div class="btn-group padding-xs-20">
							<a class="btn btn-buy" href="#" title="">Till kassan</a>
							<a class="btn btn-default"  href="">Skriv ut</a>
					</div>
			</div>
		</div>
	</div>
</div>