


<div class="row">
	<div class="cart-header form-area">
		<div class="clearfix">
			<div class="col-md-4 col-xs-6 text-left  padding-xs-5 ">
				<label>
				Artikelnr:
				</label>
				<input id="article-number" value="" class="form-control" type="text" maxlength="40">
			</div>
			<div class="col-md-2 col-xs-6 text-left  padding-xs-5 ">
				<label>
				Antal:
				</label>			
				<input id="antal" value="" class="form-control" type="text" maxlength="40">
			</div>
			<div class="col-md-3 col-xs-6 text-left  padding-xs-5 ">
				<label>
				Orderadkommentar:
				</label>			
				<input id="order-comment" value="" class="form-control" type="text" maxlength="40">
			</div>
			<div class="col-md-3 col-xs-12 text-left  padding-xs-5 " >
				<button class="btn btn-primary" style="margin-top: 26px;">Lägg i listan</button>
				<button class="btn btn-primary" style="margin-top: 26px;">Rensa lista</button>
			</div>
		</div>
	
	</div>
	
	
	<div class="cart-title padding-xs-5 padding-sm-0 ">
		<div class="clearfix">
			<div class="col-sm-12 col-xs-6 text-right no-padding" style="margin-top: 24px;">
				<button class="btn btn-buy">Lägg artikelar i kund vagan</button>
			</div>
		</div>
	</div>
	<div class="customer-cart clearfix">
		<compontent src="/Components/comp/checkout-items-list-cart.html"></compontent>
	</div>
	<div class="cart-title padding-xs-5 padding-sm-0 ">
		<div class="clearfix">

			<div class="col-sm-12 col-xs-6 text-right no-padding" style="margin-top: 10px;">
				<button class="btn btn-buy">Lägg artikelar i kund vagan</button>
			</div>
		</div>
	</div>
</div>