<form>
    <div class="form-group">
        <label for="exampleInputPassword1">Kontaktperson *</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="För-och efternamn ">
    </div>

    <div class="form-group">
        <label for="email">E-postadress *</label>
        <input type="email" class="form-control" id="email" placeholder="E-postadress">
    </div>
    <div class="form-group">
        <label for="phone">Telefonnummer *</label>
        <input type="text" class="form-control" id="phone" placeholder="Telefonnummer">
    </div>
    <div class="form-group">
        <label for="customercode">Kundnummer</label>
        <input type="text" class="form-control" id="customercode" placeholder="Kundnummer">
    </div>
    <div class="form-group">
        <label for="comment">Beskrivning av produkt jag önskar köpa *</label>
        <textarea class="form-control" id="comment" rows="10"></textarea>
    </div>
    <div class="form-check">
        <label class="form-check-label">* Obligatoriskt fält</label>
    </div>
    <button type="submit" class="btn btn-default">Skicka</button>
</form>