<div id="specification" class="col-lg-md-12 col-lg-12 col-sm-12 col-xs-12 collapse">
    <div class="specification-block">
        <ul class="list-inline">
            <li>
                Art. Nr
            </li>
            <li>
                2580559
            </li>
        </ul>
        <ul class="list-inline">
            <li>
                Mått (BxDxH)
            </li>
            <li>
                560x330x410mm
            </li>
        </ul>
        <ul class="list-inline">
            <li>
                Märke
            </li>
            <li>
                Office Depot
            </li>
        </ul>
        <ul class="list-inline">
            <li>
                Förklaring av miljöinformation
            </li>
            <li>
                Tillverkat av returpapper (materialbesparande)
            </li>
        </ul>
        <ul class="list-inline">
            <li>
                För hel kartong ange
            </li>
            <li>
                1 fp
            </li>
        </ul>
    </div>
</div>