<div class="component-richtext">
    <div class="hero-image">
        <img src="images/specialbestallning.jpg" origWidth="958" origHeight="163">
    </div>


<div class="row">
    <div class="col-lg-12">
        <p>
            <font style="FONT-SIZE: 12px" size="2">Tack vare våra goda leverantörskontakter så ordnar vi det mesta. <br>Fyll i formuläret nedan så letar vi upp
                produkten du eftersöker och skickar en offert till dig. Oftast hör vi av oss till dig redan nästkommande
                vardag. <br><br>Frågor? Ring oss gärna på 020 -560 560 så hjälper vi dig.</font>
        </p>
        <p>&nbsp;</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <compontent src="/Components/comp/specialorder-form.html"></compontent>
    </div>
</div>

</div>