<div class="row">
	<div class="col-lg-3 col-md-3 col-xs-6 padding-lr-xs-5">
		<div class="image-ad">
			<a href="https://www.officedepot.se/ecommerce/control/kampanj?kampanjId=pask" target="" type="link"><img src="images/Startsida_botten_mindre_frukt.jpg"></a>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-xs-6 padding-lr-xs-5">
		<div class="image-ad">
			<a href="https://www.officedepot.se/ecommerce/control/kampanj?kampanjId=rengoring" target="" type="link"><img src="images/Startsida_botten_mindre_profil.jpg"></a>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-xs-6 padding-lr-xs-5">
		<div class="image-ad">
			<a href="https://www.officedepot.se/ecommerce/control/kampanj?kampanjId=rengoring" target="" type="link"><img src="images/Startsida_botten_mindre_utskrift.jpg"></a>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-xs-6 padding-lr-xs-5">
		<div class="image-ad">
			<a href="https://www.officedepot.se/ecommerce/control/kampanj?kampanjId=rengoring" target="" type="link"><img src="images/Startsida_botten_mindre_varumaken.jpg"></a>
		</div>
	</div>
</div>