<div class="row">
  <div class="col-lg-6 clearfix">

    <div class="col-lg-4">
        <a href="http://pub.mediapaper.se/0d4043d2-16dd-434e-bc6c-b98760fc874b#page=2" target="" type="link"><img src="/images/Kontorskatalog2017.jpg"></a>
        <a href="http://pub.mediapaper.se/0d4043d2-16dd-434e-bc6c-b98760fc874b#page=2" target="" type="link">Bläddra i Kontor Skola </a>
    </div>
    <div class="col-lg-4">
      <a href="http://multi.mediapaper.nu/?PubId=5410E50C711AEF1CEE2E7C631927AA83" target="" type="link"><img  src="/images/Kalendrar2017.jpg"></a>
      <a href="http://multi.mediapaper.nu/?PubId=5410E50C711AEF1CEE2E7C631927AA83" target="" type="link">Bläddra i Kalendrar 2017 </a>
    </div>
    <div class="col-lg-4">
      <a href="http://multi.mediapaper.nu/?PubId=F639F2D2199CA37217CE470BE02A1D38" target="" type="link"><img  src="/images/arbetsklader.jpg"></a>
      <a href="http://multi.mediapaper.nu/?PubId=F639F2D2199CA37217CE470BE02A1D38" target="" type="link">Bläddra i Arbetskläder </a>
    </div>
  </div>

  <div class="col-lg-6">

    <form>
      <div class="form-group">
        <div class="checkbox">
          <label><input type="checkbox" value="">Kontor och Skola</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Almanackor</label>
        </div>

      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">För-och efternamn </label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="För-och efternamn ">
      </div>
      <div class="form-group">
        <label for="customercode">Kontaktperson </label>
        <input type="text" class="form-control" id="customercode" placeholder="Kontaktperson ">
      </div>
      <div class="form-group">
        <label for="subject">Gatuadress/box</label>
        <input type="text" class="form-control" id="subject" placeholder="Gatuadress/box">
      </div>
      <div class="form-group">
        <label for="subject">Organisationsnr  </label>
        <input type="text" class="form-control" id="subject" placeholder="Organisationsnr">
      </div>
      <div class="form-group">
        <label for="subject">Ert kundnr </label>
        <input type="text" class="form-control" id="subject" placeholder="Ert kundnr ">
      </div>
      <div class="form-group">
        <label for="email">E-postadress</label>
        <input type="email" class="form-control" id="email" placeholder="E-postadress">
      </div>
      <div class="form-group">
        <label for="phone">Telefonnummer</label>
        <input type="text" class="form-control" id="phone" placeholder="Telefonnummer">
      </div>
      <button type="submit" class="btn btn-default">Skicka</button>
    </form>
  </div>
</div>