<div class="component-richtext">
    <div class="hero-image">
        <img src="images/profil_top.jpg" origWidth="958" origHeight="163">
    </div>

	<div class="row">
		<div class="col-lg-8">
			<p>
			<h4>Förstärk ert varumärke</h4>
			Vi har en avdelning som hjälper ditt företag att synas med till exempel varumärket på utvalda kontorsprodukter, kläder eller presenter.
			Vi bidrar gärna med tips och råd om vilka produkter ni ska välja, bästa placeringen av ert budskap och att göra själva beställningen. 
			Självklart går det att få hjälp med hela kedjan från idé och design till produktion och distribution. Om ni redan är kund hos Office Depot, kan ni få profilprodukterna i samma leverans som kontorsvarorna.
			Ett effektivt sätt att spara på både pengar och miljön.
			<br>
			Vår onlinefunktion Web2print gör det enkelt att beställa och producera trycksaker och kontorstryck.
			Vi kan också lagerhålla profilprodukter och distribuera dem när ni önskar
			</p>
			<p dir="ltr" align="left"><img src="images/banner_profil_vanster.jpg"></p>
			<p dir="ltr" align="left"><span lang="EN-GB">Kontakta oss direkt!<br>Tel: 010-458 58 58<br>E-post: <a href="mailto:se-profil@officedepot.com" type="link" target="_blank" internal="">se-profil@officedepot.com</a></span></p>
			</span>
		</div>
		<div class="col-lg-4">
			<div class="contact-box" style="margin-top: 10px; PADDING: 10px; BACKGROUND-COLOR: #adbdcc" >
				<form  method="post" action="" target="_new">
					<div class="form-group">
						<label for="exampleInputEmail1">E-postadress</label>
						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
					</div>
					<div class="form-group">
						<label for="exampleInputPhone1">Telefonnummer</label>
						<input type="number" class="form-control" id="exampleInputPhone1" placeholder="Telefonnummer">
					</div>
					<button class="contact-box-btn btn btn-red" onclick="submitMe();">Kontakta mig!</button>
				</form>
			</div>
			<div class="image-container">
				<div class="row">
					<div class="margin-top-10 col-lg-12 col-md-6">
						<a href="https://www.officedepot.se/CycubeMediaLibrary/external/mediafiles/Dokument/Prislista%20Trycksaker_2017_ALLA%20SIDOR.pdf"
							type="link" target="_blank" internal=""><img id="inline_image13" src="images/banner_profil_2.jpg" origwidth="364" origheight="93"> </a>
					</div>
					<div class="margin-top-10 col-lg-12 col-md-6">
						<a href="http://od.kontorsprofil.com/" type="link" target="" internal=""><img id="inline_image14" src="images/banner_profil_3.jpg" origwidth="364" origheight="93"> </a>
					</div>
					<div class="margin-top-10 col-lg-12 col-md-6">
						<a href="http://profil.officedepot.se/" type="link" target="" internal=""><img id="inline_image16" src="images/banner_profil_1.jpg" origwidth="364" origheight="93"> </a>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>