<div class="flex-row">
    <div class="left-col">
        <div class="measureheight equalizeheight">
            <div class="continue__shopping">
                <a href="/" class="btn btn-primary">Fortsätt handla</a>
            </div>
            <div class="checkout-ny">
                <form class="checkout-ny-form__login  login--js show">
                    <div class="checkout-ny-form__header"><h4>Logga in</h4> </div>
                    <div class="checkout-ny-form--block">
                        <div class="field" id="username_input">
                            <input type="text" id="username" class="field__input">
                            <label>Användarnamn</label> 
                        </div>
                        <div class="field" id="password_input">
                            <input type="password" id="password" class="field__input">
                            <label>Lösenord</label>
                        </div>
                    </div>
                    <input class="btn-checkout--blue" disable="" value="Logga in" type="submit" id="login-button">
                    <div class="checkout-ny--label show__forgotpass--js"><label>Glömt ditt användarnamn eller lösenord?</label> </div>
                </form>
                <form class="checkout-ny-form__login forget-pass--js">
                    <div class="checkout-ny-form__header "><h4>Glömt ditt användarnamn eller lösenord?</h4> </div>
                    <div class="checkout-ny-form--block">
                        <div class="field" >
                            <input type="email" novalidate="" class="field__input" id="forgot_pass_input">
                            <label >Ange din epostadress</label>
                        </div>
                        <div class="checkout-ny__forgotpass--btn" >
                            <input class="btn-checkout--blue checkout-ny__forgotpass--js" value="Skapa nytt lösenord" type="submit" >
                        </div>
                    </div>
                    <div class="checkout-ny--label show__login--js"><label>Back to login?</label> </div>
                </form>
                <div class="checkout-ny-form__create">
                    <div class="checkout-ny-form__header"><h4>Saknar du ett konto eller vill handla utan konto?</h4></div>
                    <div class="checkout-ny-form__create--block">
                        <a class="checkout-ny__showregister--js" href="#">
                            <div class="btn-checkout--blue ">
                                Skapa konto
                            </div>
                        </a>
                        <a href="/newkassaversion1.html">
                            <div class="btn-checkout--blue ">
                                Handla utan konto
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-col">

    </div>
</div>
<div class="checkout-ny__footer">
    <div class="flex-row">
        <div class="left-col">
            <div class="checkout-ny__footer--block">
                <div class="checkout-ny__footer--col">
                    <div class="checkout-ny__footer--title">
                        <h4>Handla tryggt med oss</h4>
                        <svg class="icon icon-trust" viewBox="0 0 60 60">
                            <use href="#trusticon"></use>
                        </svg>
                    </div>
                    <p> Du kan alltid känna dig trygg när du handlar hos Office Depot. Vi är medlem i Trygg E-handel och följer Trygg E-handels krav för en trygg Voch säker E-handelsplats.
                        </p>
                </div>
                <div class="checkout-ny__footer--col">
                    <div class="checkout-ny__footer--title">
                        <h4>Behöver du hjälp?</h4>
                        <svg class="icon icon-faq" viewBox="0 0 60 60">
                            <use href="#faq"></use>
                        </svg>
                    </div>
                    <p>Ring gratis på 020-560 560
                        eller e-posta till se-kundcenter@officedepot.eu</p>
                </div>
            </div>
        </div>
        <div class="right-col">
        </div>
    </div>
</div> 