

<div class="flex-row">
    <div class="left-col">
        <div class="continue__shopping">
            <a href="javascript:history.back()" class="btn btn-primary">Fortsätt handla</a>
        </div>
        <div class="checkout-ny--grid">
            <div class="text-center checkout-ny--addmore" >
                <div class="section-head">
                <h5>
                Tillbehör
                </h5>
                <h3>
                Här är några tillbehör baserat på din varukorg?</h3>
                </div>
                <div class="flexslider">
                    <ul class="slides">
                        <li class="product-ny bordered" >
                            <div class="thumbnail  clearfix">
                                <a href="/product-details.html" class="">
                                    <div class="thumbnail-inner">
                                        
                                        <span class="miljoribbon"></span>
                                        <img class="group list-group-image" src="../images/pro.png" alt="">
                                    </div>
                                    <div class="caption">
                                        <div class="text-box">
                                            <div class="box-item-heading">
                                                <h5 class="product-ny-heading">Handduk Tork </h5>
                                                <h5 class="product-ny-heading --lighter">Premium H2 2310/k</h5>
                                                <h5 class="product-ny-heading --lighter">Xpress Tork</h5>

                                            </div>
                                            <div class="box-description hidden-xs">
                                                <p class="group inner list-group-item-text"></p>
                                            </div>
                                        </div>
                                        <div class="group-box">
                                            <div class="box-item-price">
                                                <div class="basePrice">
                                                    <div class='basePrice-content'>
                                                        <span>892,00</span>
                                                        <span class="currency">kr</span>
                                                        <span class="uom">/kt</span>
                                                    </div>
                                                </div>
                                                <div class="price">
                                                    <span>713,60</span>
                                                    <span class="currency">kr</span><span class="uom">/kt</span>
                                                    <br>
                                                </div>
                        
                                            </div>
                                            <div class="button-group">
                                                <button href="/product-details.html" class="btn btn-buy" role="button">Visa 5 varianter</button>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="product-ny bordered" >
                            <div class="thumbnail  clearfix">
                                <a href="/product-details.html" class="">
                                    <div class="thumbnail-inner">
                                        
                                        <span class="miljoribbon"></span>
                                        <img class="group list-group-image" src="../images/pro.png" alt="">
                                    </div>
                                    <div class="caption">
                                        <div class="text-box">
                                            <div class="box-item-heading">
                                                <h5 class="product-ny-heading">Handduk Tork </h5>
                                                <h5 class="product-ny-heading --lighter">Premium H2 2310/k</h5>
                                                <h5 class="product-ny-heading --lighter">Xpress Tork</h5>

                                            </div>
                                            <div class="box-description hidden-xs">
                                                <p class="group inner list-group-item-text"></p>
                                            </div>
                                        </div>
                                        <div class="group-box">
                                            <div class="box-item-price">
                                                <div class="basePrice">
                                                    <div class='basePrice-content'>
                                                        <span>892,00</span>
                                                        <span class="currency">kr</span>
                                                        <span class="uom">/kt</span>
                                                    </div>
                                                </div>
                                                <div class="price">
                                                    <span>713,60</span>
                                                    <span class="currency">kr</span><span class="uom">/kt</span>
                                                    <br>
                                                </div>
                        
                                            </div>
                                            <div class="button-group">
                                                <button href="/product-details.html" class="btn btn-buy" role="button">Visa 5 varianter</button>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="product-ny bordered" >
                            <div class="thumbnail  clearfix">
                                <a href="/product-details.html" class="">
                                    <div class="thumbnail-inner">
                                        
                                        <span class="miljoribbon"></span>
                                        <img class="group list-group-image" src="../images/pro.png" alt="">
                                    </div>
                                    <div class="caption">
                                        <div class="text-box">
                                            <div class="box-item-heading">
                                                <h5 class="product-ny-heading">Handduk Tork </h5>
                                                <h5 class="product-ny-heading --lighter">Premium H2 2310/k</h5>
                                                <h5 class="product-ny-heading --lighter">Xpress Tork</h5>

                                            </div>
                                            <div class="box-description hidden-xs">
                                                <p class="group inner list-group-item-text"></p>
                                            </div>
                                        </div>
                                        <div class="group-box">
                                            <div class="box-item-price">
                                                <div class="basePrice">
                                                    <div class='basePrice-content'>
                                                        <span>892,00</span>
                                                        <span class="currency">kr</span>
                                                        <span class="uom">/kt</span>
                                                    </div>
                                                </div>
                                                <div class="price">
                                                    <span>713,60</span>
                                                    <span class="currency">kr</span><span class="uom">/kt</span>
                                                    <br>
                                                </div>
                        
                                            </div>
                                            <div class="button-group">
                                                <button href="/product-details.html" class="btn btn-buy" role="button">Visa 5 varianter</button>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="checkout-ny checkout-ny--items">
                <h4 class="title checkout-ny__title text-left">Din varukorg</h4>        
                <ul>
                    <li class="checkout-ny__product">
                        <div class="checkout-ny__product--image">
                            <a  class="checkout-ny__product--link" href="#">
                                <div class="image"><img  alt="" src="../images/pro.png"></div>
                            </a>
                        </div>
                        <div class="checkout-ny__product--details">
                            <h5 class="--bold">Dammsugare VP300 Hepa Pink.Nor</h5>
                            <p>#1833513</p>
                            <p class="underline">Angne markering</p>
                            <span class="checkout-ny__product--remove mobile" >
                                <svg class="icon icon-close"  viewBox="0 0 20 20">
                                    <use href="#close"></use>
                                </svg>
                            </span>
                        </div>
                        <div class="checkout-ny__product--info">
                            <div class="checkout-ny__product--amount" >
                                <div class="checkout-ny__product--quanitity">
                                120
                                </div>
        
                                <span class="checkout-ny__product--minus" >
                                    <svg class="icon icon-minus" viewBox="0 0 20 20">
                                        <use href="#minus"></use>
                                    </svg>
                                </span>
                            
                                <span class="checkout-ny__product--plus" >
                                    <svg class="icon icon-plus" viewBox="0 0 20 20">
                                        <use href="#plus"></use>
                                    </svg>
                                </span>
                                <span class="checkout-ny__product--remove desktop" >
                                    <svg class="icon icon-close"  viewBox="0 0 20 20">
                                        <use href="#close"></use>
                                    </svg>
                                </span>
                            </div>
        
                                <div class="checkout-ny__product--price " >
                                    <div class="checkout-ny__product--each"><span>1 295.20 </span> <span class="checkout-ny__product--currency" >kr/pkt</span></div>
                                    <div class="checkout-ny__product--total"><span>1 295.20 </span> <span class="checkout-ny__product--currency" >kr</span></div>
                                </div>
                        </div>
                    </li>
                    <li class="checkout-ny__product">
                        <div class="checkout-ny__product--image">
                            <a  class="checkout-ny__product--link" href="#">
                                <div class="image"><img  alt="" src="../images/pro.png"></div>
                            </a>
                        </div>
                        <div class="checkout-ny__product--details">
                            <h5 class="--bold">Dammsugare VP300 Hepa Pink.Nor</h5>
                            <p>#1833513</p>
                            <p class="underline">Angne markering</p>
                            <span class="checkout-ny__product--remove mobile" >
                                <svg class="icon icon-close"  viewBox="0 0 20 20">
                                    <use href="#close"></use>
                                </svg>
                            </span>
                        </div>
                        <div class="checkout-ny__product--info">
                            <div class="checkout-ny__product--amount" >
                                <div class="checkout-ny__product--quanitity">
                                120
                                </div>
        
                                <span class="checkout-ny__product--minus" >
                                    <svg class="icon icon-minus" viewBox="0 0 20 20">
                                        <use href="#minus"></use>
                                    </svg>
                                </span>
                            
                                <span class="checkout-ny__product--plus" >
                                    <svg class="icon icon-plus" viewBox="0 0 20 20">
                                        <use href="#plus"></use>
                                    </svg>
                                </span>
                                <span class="checkout-ny__product--remove desktop" >
                                    <svg class="icon icon-close"  viewBox="0 0 20 20">
                                        <use href="#close"></use>
                                    </svg>
                                </span>
                            </div>
        
                                <div class="checkout-ny__product--price " >
                                    <div class="checkout-ny__product--each"><span>1 295.20 </span> <span class="checkout-ny__product--currency" >kr/pkt</span></div>
                                    <div class="checkout-ny__product--total"><span>1 295.20 </span> <span class="checkout-ny__product--currency" >kr</span></div>
                                </div>
                        </div>
                    </li>
                    <li class="checkout-ny__product">
                        <div class="checkout-ny__product--image">
                            <a  class="checkout-ny__product--link" href="#">
                                <div class="image"><img  alt="" src="../images/pro.png"></div>
                            </a>
                        </div>
                        <div class="checkout-ny__product--details">
                            <h5 class="--bold">Dammsugare VP300 Hepa Pink.Nor</h5>
                            <p>#1833513</p>
                            <p class="underline">Angne markering</p>
                            <span class="checkout-ny__product--remove mobile" >
                                <svg class="icon icon-close"  viewBox="0 0 20 20">
                                    <use href="#close"></use>
                                </svg>
                            </span>
                        </div>
                        <div class="checkout-ny__product--info">
                            <div class="checkout-ny__product--amount" >
                                <div class="checkout-ny__product--quanitity">
                                120
                                </div>
        
                                <span class="checkout-ny__product--minus" >
                                    <svg class="icon icon-minus" viewBox="0 0 20 20">
                                        <use href="#minus"></use>
                                    </svg>
                                </span>
                            
                                <span class="checkout-ny__product--plus" >
                                    <svg class="icon icon-plus" viewBox="0 0 20 20">
                                        <use href="#plus"></use>
                                    </svg>
                                </span>
                                <span class="checkout-ny__product--remove desktop" >
                                    <svg class="icon icon-close"  viewBox="0 0 20 20">
                                        <use href="#close"></use>
                                    </svg>
                                </span>
                            </div>
        
                                <div class="checkout-ny__product--price " >
                                    <div class="checkout-ny__product--each"><span>1 295.20 </span> <span class="checkout-ny__product--currency" >kr/pkt</span></div>
                                    <div class="checkout-ny__product--total"><span>1 295.20 </span> <span class="checkout-ny__product--currency" >kr</span></div>
                                </div>
                        </div>
                    </li>
                </ul>
                <div class="checkout-ny__total">
                    <div class="checkout-ny__total--campaign">
                        <div class="campaign">
                            <div class="campaign__heading ">
                                <h4 class="title checkout-ny__title text-left">Jag har en rabattkod!</h4>
                            </div>
                            <div class="campaign__body ">
                                <div>
                                    <form class="form campaign__form" data-bind="submit:toggleCampaignCode">
                                        <div class="form__body">
                                            <div class="field --line">
                                                <input type="text" placeholder="XXXXXXXX" class="field__input">
                                            </div>
                                            <div class="field"><input type="submit" class="btn btn-rabat"  value="Använd rabattkod"></div>
                                        </div>
                                        <span class="error" >Error</span>
                                        <div class="success" >
                                            <span class="success__text">
                                                Rabatten har aktiverats i varukorgen
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="text-center checkout-ny--campain" >
                <div class="section-head">
                <h5>
                    Kampanj
                </h5>
                <h3>Idag har vi erbjudande på följande populära varor</h3>
                </div>
                <div class="flexslider">
                    <ul class="slides">
                        <li class="product-ny bordered" >
                            <div class="thumbnail  clearfix">
                                <a href="/product-details.html" class="">
                                    <div class="thumbnail-inner">
                                        
                                        <span class="miljoribbon"></span>
                                        <img class="group list-group-image" src="../images/pro.png" alt="">
                                    </div>
                                    <div class="caption">
                                        <div class="text-box">
                                            <div class="box-item-heading">
                                                <h5 class="product-ny-heading">Handduk Tork </h5>
                                                <h5 class="product-ny-heading --lighter">Premium H2 2310/k</h5>
                                                <h5 class="product-ny-heading --lighter">Xpress Tork</h5>

                                            </div>
                                            <div class="box-description hidden-xs">
                                                <p class="group inner list-group-item-text"></p>
                                            </div>
                                        </div>
                                        <div class="group-box">
                                            <div class="box-item-price">
                                                <div class="basePrice">
                                                    <div class='basePrice-content'>
                                                        <span>892,00</span>
                                                        <span class="currency">kr</span>
                                                        <span class="uom">/kt</span>
                                                    </div>
                                                </div>
                                                <div class="price">
                                                    <span>713,60</span>
                                                    <span class="currency">kr</span><span class="uom">/kt</span>
                                                    <br>
                                                </div>
                        
                                            </div>
                                            <div class="button-group">
                                                <button href="/product-details.html" class="btn btn-buy" role="button">Visa 5 varianter</button>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="product-ny bordered" >
                            <div class="thumbnail  clearfix">
                                <a href="/product-details.html" class="">
                                    <div class="thumbnail-inner">
                                        
                                        <span class="miljoribbon"></span>
                                        <img class="group list-group-image" src="../images/pro.png" alt="">
                                    </div>
                                    <div class="caption">
                                        <div class="text-box">
                                            <div class="box-item-heading">
                                                <h5 class="product-ny-heading">Handduk Tork </h5>
                                                <h5 class="product-ny-heading --lighter">Premium H2 2310/k</h5>
                                                <h5 class="product-ny-heading --lighter">Xpress Tork</h5>

                                            </div>
                                            <div class="box-description hidden-xs">
                                                <p class="group inner list-group-item-text"></p>
                                            </div>
                                        </div>
                                        <div class="group-box">
                                            <div class="box-item-price">
                                                <div class="basePrice">
                                                    <div class='basePrice-content'>
                                                        <span>892,00</span>
                                                        <span class="currency">kr</span>
                                                        <span class="uom">/kt</span>
                                                    </div>
                                                </div>
                                                <div class="price">
                                                    <span>713,60</span>
                                                    <span class="currency">kr</span><span class="uom">/kt</span>
                                                    <br>
                                                </div>
                        
                                            </div>
                                            <div class="button-group">
                                                <button href="/product-details.html" class="btn btn-buy" role="button">Visa 5 varianter</button>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="product-ny bordered" >
                            <div class="thumbnail  clearfix">
                                <a href="/product-details.html" class="">
                                    <div class="thumbnail-inner">
                                        
                                        <span class="miljoribbon"></span>
                                        <img class="group list-group-image" src="../images/pro.png" alt="">
                                    </div>
                                    <div class="caption">
                                        <div class="text-box">
                                            <div class="box-item-heading">
                                                <h5 class="product-ny-heading">Handduk Tork </h5>
                                                <h5 class="product-ny-heading --lighter">Premium H2 2310/k</h5>
                                                <h5 class="product-ny-heading --lighter">Xpress Tork</h5>

                                            </div>
                                            <div class="box-description hidden-xs">
                                                <p class="group inner list-group-item-text"></p>
                                            </div>
                                        </div>
                                        <div class="group-box">
                                            <div class="box-item-price">
                                                <div class="basePrice">
                                                    <div class='basePrice-content'>
                                                        <span>892,00</span>
                                                        <span class="currency">kr</span>
                                                        <span class="uom">/kt</span>
                                                    </div>
                                                </div>
                                                <div class="price">
                                                    <span>713,60</span>
                                                    <span class="currency">kr</span><span class="uom">/kt</span>
                                                    <br>
                                                </div>
                        
                                            </div>
                                            <div class="button-group">
                                                <button href="/product-details.html" class="btn btn-buy" role="button">Visa 5 varianter</button>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="product-ny bordered" >
                            <div class="thumbnail  clearfix">
                                <a href="/product-details.html" class="">
                                    <div class="thumbnail-inner">
                                        
                                        <span class="miljoribbon"></span>
                                        <img class="group list-group-image" src="../images/pro.png" alt="">
                                    </div>
                                    <div class="caption">
                                        <div class="text-box">
                                            <div class="box-item-heading">
                                                <h5 class="product-ny-heading">Handduk Tork </h5>
                                                <h5 class="product-ny-heading --lighter">Premium H2 2310/k</h5>
                                                <h5 class="product-ny-heading --lighter">Xpress Tork</h5>

                                            </div>
                                            <div class="box-description hidden-xs">
                                                <p class="group inner list-group-item-text"></p>
                                            </div>
                                        </div>
                                        <div class="group-box">
                                            <div class="box-item-price">
                                                <div class="basePrice">
                                                    <div class='basePrice-content'>
                                                        <span>892,00</span>
                                                        <span class="currency">kr</span>
                                                        <span class="uom">/kt</span>
                                                    </div>
                                                </div>
                                                <div class="price">
                                                    <span>713,60</span>
                                                    <span class="currency">kr</span><span class="uom">/kt</span>
                                                    <br>
                                                </div>
                        
                                            </div>
                                            <div class="button-group">
                                                <button href="/product-details.html" class="btn btn-buy" role="button">Visa 5 varianter</button>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="product-ny bordered" >
                            <div class="thumbnail  clearfix">
                                <a href="/product-details.html" class="">
                                    <div class="thumbnail-inner">
                                        
                                        <span class="miljoribbon"></span>
                                        <img class="group list-group-image" src="../images/pro.png" alt="">
                                    </div>
                                    <div class="caption">
                                        <div class="text-box">
                                            <div class="box-item-heading">
                                                <h5 class="product-ny-heading">Handduk Tork </h5>
                                                <h5 class="product-ny-heading --lighter">Premium H2 2310/k</h5>
                                                <h5 class="product-ny-heading --lighter">Xpress Tork</h5>

                                            </div>
                                            <div class="box-description hidden-xs">
                                                <p class="group inner list-group-item-text"></p>
                                            </div>
                                        </div>
                                        <div class="group-box">
                                            <div class="box-item-price">
                                                <div class="basePrice">
                                                    <div class='basePrice-content'>
                                                        <span>892,00</span>
                                                        <span class="currency">kr</span>
                                                        <span class="uom">/kt</span>
                                                    </div>
                                                </div>
                                                <div class="price">
                                                    <span>713,60</span>
                                                    <span class="currency">kr</span><span class="uom">/kt</span>
                                                    <br>
                                                </div>
                        
                                            </div>
                                            <div class="button-group">
                                                <button href="/product-details.html" class="btn btn-buy" role="button">Visa 5 varianter</button>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="right-col">

    </div>
</div>    



<div class="checkout-ny__footer">
    <div class="flex-row">
        <div class="left-col">
            <div class="checkout-ny__footer--block">
                <div class="checkout-ny__footer--col">
                    <div class="checkout-ny__footer--title">
                        <h4>Handla tryggt med oss</h4>
                        <svg class="icon icon-trust" viewBox="0 0 60 60">
                            <use href="#trusticon"></use>
                        </svg>
                    </div>
                    <p> Du kan alltid känna dig trygg när du handlar hos Office Depot. Vi är medlem i Trygg E-handel och följer Trygg E-handels krav för en trygg Voch säker E-handelsplats.
                        </p>
                </div>
                <div class="checkout-ny__footer--col">
                    <div class="checkout-ny__footer--title">
                        <h4>Behöver du hjälp?</h4>
                        <svg class="icon icon-faq" viewBox="0 0 60 60">
                            <use href="#faq"></use>
                        </svg>
                    </div>
                    <p>Ring gratis på 020-560 560
                        eller e-posta till se-kundcenter@officedepot.eu</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function () {



    function getGridSize() {
        return (window.innerWidth < 600) ? 1 :
               (window.innerWidth < 900) ? 2 : 3;
      }
      flexslider = { vars:{} };
    $('.flexslider').flexslider({
        animation: "slide",
        animationLoop: false,
        itemWidth: 180,
        itemMargin: 20,
        minItems: getGridSize(),
        maxItems:  getGridSize()
      }); 




    $('.product-scroll--js.active').each(function(){
        var scroll = parseFloat($(this).attr('scroll'))*parseFloat($('.product-items-ny').width())/100;
        $(this).parent().parent().find(".product-items--slide").animate({scrollLeft:  scroll-150}, 800);
    })

    $('.product-scroll--js').click(function(){
       var scroll = parseFloat($(this).attr('scroll'))*parseFloat($('.product-items-ny').width())/100;
       console.log()
       $(this).parent().find('.product-scroll--js').removeClass('active');
       $(this).addClass('active');
       $(this).parent().parent().find(".product-items--slide").animate({scrollLeft:  scroll-150}, 800);

    })
})

</script>
