<div class="container">      
	<compontent src="/Components/comp/startpage-hero.html"></compontent>
</div>

<div class="container">      
	<compontent src="/Components/comp/startpage-hero-ads.html"></compontent>
</div>

<div class="container">      
	<compontent src="/Components/comp/popular-categories.html"></compontent>
</div>

<div class="container">      
	<compontent src="/Components/comp/campaign.html"></compontent>
</div>

<div class="container">      
	<compontent src="/Components/comp/startpage-hero-ads-bottom.html"></compontent>
</div>

<br>