.dynamicbg {
    background: url(/Static/images/Background.jpg) no-repeat center 175px;
    -webkit-background-size: inherit;
    -moz-background-size: inherit;
    -o-background-size: inherit;
    background-size: 2340px;
}
.image-ad img {
	width:100%;
}
.component-richtext {
    margin-bottom: 10px;
}
.image-ad {
    margin-bottom: 5px;
}